{% extends 'base.html.twig' %}
{% block title %} Statistiques | {{parent()}}{% endblock %}

{% block body %}
	<h1 class="title">Statistiques</h1>
	<div class="container">
		{% for message in app.flashes('success') %}
			<div class="flash success">
				{{ message }}
			</div>
		{% endfor %}
		<button class="default-sort">Tri par defaut</button>
		<table class="tableau">
			<thead>
				<tr>
					<th class="sortable number">Id</th>
					<th class="sortable text">Nom</th>
					<th class="sortable text">Symbole</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for statistic in statistics %}

					<tr>
						<td> {{statistic.id}} </td>
						<td> {{ statistic.name }} </td>
						<td> {{ statistic.symbol }} </td>
						<td>
							<a href="{{ path("admin_update_statistic", {'id' : statistic.id}) }}">Modifier</a>
						</td>
					</tr>
						
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}

{% block navside %}
	{% set navsideDisplay = true %}
	{% set navsideLinks = [
		jsonLinks.returnAdmin,
		jsonLinks.createStatistic,
		jsonLinks.duration,
		jsonLinks.resource,
		jsonLinks.talent,
		jsonLinks.skills,
	]%}
	{{parent()}}
{% endblock %}
