{% extends 'base.html.twig' %}

{% block title %}Connexion | {{parent()}}{% endblock %}

{% block body %}
	<div class="container">
		<form method="post">
			{% if error %}
				<div class="flash error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
					Vous êtes connectée avec le compte {{ app.user.name }}.
					<a href="{{ path('app_logout') }}" title="Déconnexion">Déconnexion</a>
			{% else %}
				<h1 class="title-form">Connexion</h1>
					<div class="row">
						<div class="div-form">
							<label for="inputEmail">Adresse e-mail ou nom d'utilisateur</label>
							<input type="text" value="{{ last_username }}" name="_username" id="username" class="log" autocomplete="email" required autofocus>
						</div>
					</div>
					<div class="row">
						<div class="div-form">
							<label for="inputPassword">Mot de passe</label>
							<input type="password" name="_password" id="password" class="log" autocomplete="current-password" required>
						</div>
					</div>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				{#
					Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
					See https://symfony.com/doc/current/security/remember_me.html

					<div class="checkbox mb-3">
						<label>
							<input type="checkbox" name="_remember_me"> Remember me
						</label>
					</div>
				#}
				<button class="valid-form" type="submit">Connexion</button>
			</form>
			<a href="{{path("app_forgot_password_request")}}" title="Mot de passe oublié">Mot de passe oublié ?</a>
		{% endif %}
	</div>
{% endblock %}
