{% extends 'base.html.twig' %}

{% block title %}{{(requestAttribute == "admin_update_race") ? "Modifier une race":"Ajouter une race"}} | {{parent()}}{% endblock %}

{% block body %}
	<div class="container">
		{{ form_start(raceForm) }}
			<div>
				<h3 class="title-form">Géneral</h3>
				<div>
					<div class="div-form">{{ form_label(raceForm.name) }}
						
						{{ form_widget(raceForm.name) }}
						<div class="div-errors">
							{{form_errors(raceForm.name)}}
						</div>
					</div>
				</div>
			</div>
			<div>
				<h3 class="title-form">Information physique</h3>
			</div>
			<div class="row">
				<div class="div-form">
					{{form_label(raceForm.minHieght)}}
					{{form_widget(raceForm.minHieght)}}
					<div class="div-errors">
						{{form_errors(raceForm.minHieght)}}
					</div>
				</div>
				<div class="div-form">
					{{form_label(raceForm.maxHeight)}}
					{{form_widget(raceForm.maxHeight)}}
					<div class="div-errors">
						{{form_errors(raceForm.maxHeight)}}
					</div>
				</div>
				<div class="div-form">
					{{form_label(raceForm.averageWheight)}}
					{{form_widget(raceForm.averageWheight)}}
					<div class="div-errors">
						{{form_errors(raceForm.averageWheight)}}
					</div>
				</div>
				<div class="div-form">
					{{form_label(raceForm.adulthood)}}
					{{form_widget(raceForm.adulthood)}}
					<div class="div-errors">
						{{form_errors(raceForm.adulthood)}}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="textarea-form">
					<h3 class="title-form">
						{{ form_label(raceForm.description) }}
					</h3>
					
					{{ form_widget(raceForm.description) }}
					<div class="div-errors">
						{{form_errors(raceForm.description)}}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="textarea-form">
					<h3 class="title-form">
						{{ form_label(raceForm.socialAbility) }}
					</h3>
					
					{{ form_widget(raceForm.socialAbility) }}
					<div class="div-errors">
						{{form_errors(raceForm.socialAbility)}}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="textarea-form">
					<h3 class="title-form">
						{{ form_label(raceForm.physicalAbility) }}
					</h3>
					
					{{ form_widget(raceForm.physicalAbility) }}
					<div class="div-errors">
						{{form_errors(raceForm.physicalAbility)}}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="textarea-form">
					<h3 class="title-form">
						{{ form_label(raceForm.bonus) }}
					</h3>
					
					{{ form_widget(raceForm.bonus) }}
					<div class="div-errors">
						{{form_errors(raceForm.bonus)}}
					</div>
				</div>
			</div>

		<button class="valid-form">Valider !</button>
		{{form_end(raceForm)}}
	</div>
{% endblock %}
