{% extends 'base.html.twig' %}
{% block title %}
	Les équipes |
	{{parent()}}
{% endblock %}

{% block body %}
	<h2>Fiches personnages</h2>
	<div class="container">
    <div class="">
        <a href="{{ path("admin_add_race")}}">Creer une Nouvelle Competence</a>
    </div>
		<table class="tableau">
			<tr>
				<th>Id</th>
				<th>Name</th>
                <th></th>
			</tr>
			{% for race in races %}

				<tr>
					<th> {{race.id}} </th>
					<th> {{ race.name }} </th>
                    <th>
                        <a href="{{ path("admin_update_race", {'raceId' : race.id}) }}">Modifier</a>
                    </th>
				</tr>
					
			{% endfor %}
		</table>
	</div>
{% endblock %}


{% block script %}
	<script src="{{ asset("script/delete.js")}}"></script>
{% endblock %}