{% extends 'base.html.twig' %}
{% block title %}
	Race |
	{{parent()}}
{% endblock %}

{% block body %}
	<h2>Races</h2>
	<div class="container">
		{% for message in app.flashes('success') %}
			<div class="flash success">
				{{ message }}
			</div>
		{% endfor %}
		<div class="">
			<a href="{{ path("admin_add_race")}}">Creer une Race</a>
		</div>
		<table class="tableau">
			<tr>
				<th>Id</th>
				<th>Name</th>
                <th></th>
			</tr>
			{% for race in races %}

				<tr>
					<th> {{race.id}} </th>
					<th> {{ race.name }} </th>
                    <th>
                        <a href="{{ path("admin_update_race", {'slug' : race.slug}) }}">Modifier</a>
                    </th>
				</tr>
					
			{% endfor %}
		</table>
	</div>
{% endblock %}


{% block script %}
	<script src="{{ asset("script/delete.js")}}"></script>
{% endblock %}