{% extends 'base.html.twig' %}
{% block title %} Races | {{parent()}}{% endblock %}

{% block body %}
	<h1 class="title">Races</h1>
	<div class="container">
		{% for message in app.flashes('success') %}
			<div class="flash success">
				{{ message }}
			</div>
		{% endfor %}
		<button class="default-sort">Tri par defaut</button>
		<table class="tableau">
			<thead>
				<tr>
					<th class="sortable number">Id</th>
					<th class="sortable text">Nom</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for race in races %}

					<tr>
						<td> {{race.id}} </td>
						<td> {{ race.name }} </td>
						<td>
							<a href="{{ path("admin_update_race", {'slug' : race.slug}) }}">Modifier</a>
						</td>
					</tr>
						
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="navside-container">
		<div class="div-show-navside show">
			<a href="" id="show-navside">Navigation</a>
		</div>
		<div class="navside navside-hidden">
			<a title="Retour a l'accueil administrateur" class="link" href="{{ path('admin_home')}}">Retour</a>
			<a title="Créer un nouvelle race" class="link" href="{{ path("admin_add_race")}}">Creer une race</a>
			<a title="Liste des classes" class="link" href="{{ path('admin_class_list')}}">Classes</a>
			<a title="Liste des compétences" class="link" href="{{ path('admin_skill_list')}}">Compétences</a>

		</div>
	</div>
{% endblock %}


{% block script %}
    <script src="{{asset('script/tableau.js')}}"></script>
	<script src="{{ asset("script/delete.js")}}"></script>
{% endblock %}