{% extends 'base.html.twig' %}
{% block title %}
	Race |
	{{parent()}}
{% endblock %}

{% block body %}
	<h2 class="titre-table">Races</h2>
	<div class="container">
		{% for message in app.flashes('success') %}
			<div class="flash success">
				{{ message }}
			</div>
		{% endfor %}
		<table class="tableau">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for race in races %}

					<tr>
						<td> {{race.id}} </td>
						<td> {{ race.name }} </td>
						<td>
							<a href="{{ path("admin_update_race", {'slug' : race.slug}) }}">Modifier</a>
						</td>
					</tr>
						
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="navside-container">
		<div class="div-show-navside show">
			<a href="" id="show-navside">Navigation</a>
		</div>
		<div class="navside navside-hidden">
			<a href="{{ path('admin_home')}}"><img src="{{asset("img/list.png")}}" alt="" height="10">Retour</a>
			<a href="{{ path("admin_add_race")}}">Creer une Race</a>
			<a href="{{ path('admin_class_list')}}"><img src="{{asset("img/list.png")}}" alt="" height="10">classes</a>
			<a href="{{ path('admin_skill_list')}}"><img src="{{asset("img/list.png")}}" alt="" height="10">compétence</a>

		</div>
	</div>
{% endblock %}


{% block script %}
	<script src="{{ asset("script/delete.js")}}"></script>
{% endblock %}