{% extends 'base.html.twig' %}

{% block title %}Inscription |
	{{parent()}}
{% endblock %}

{% block body %}
	{% if app.user %}
			<div class="mb-3">
				Vous êtes connectée avec le compte 
				{{ app.user.username }}.
			</div>
			<a href="{{ path('app_logout') }}">Déconexion</a>
		{% else %}
		<div class="container">
			<h1>Inscription</h1>

			{{ form_start(registrationForm) }}

			<div class="row">
				<div class="col-md-12 div-form">
					{{ form_label(registrationForm.email) }}
					<br>
					{{ form_widget(registrationForm.email) }}


				</div>

				<div class="col-md-12 div-form">
					{{ form_label(registrationForm.nom) }}
					<br>
					{{ form_widget(registrationForm.nom) }}
				</div>

				<div class="col-md-12 div-form">
					{{ form_label(registrationForm.plainPassword) }}
					<br>
					{{ form_widget(registrationForm.plainPassword) }}
				</div>

			</div>


			<button type="submit" class="valid-form">Créer mon compte</button>
			{{ form_end(registrationForm) }}
		</div>
	{% endif %}
{% endblock %}
