{% extends 'base.html.twig' %}

{% block title %}Pièces d'armure | {{parent()}}{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="title">Pieces d'armures</h1>
		{% for message in app.flashes('success') %}
			<div class="flash success">
				{{ message }}
			</div>
		{% endfor %}
		{% for message in app.flashes('error') %}
			<div class="flash error">
				{{ message }}
			</div>
		{% endfor %}
		<div class="div-form-hidden">
			<a id="show-form">Pieces d'armure</a>
			{{form_start(armorPieceForm, { "attr" : {"class" : "hidden"} }) }}
			<div class="row">

				<div class="div-form">
					{{ form_label(armorPieceForm.location)}}
					{{form_widget(armorPieceForm.location)}}
					<div class="div-errors">
					{{ form_errors(armorPieceForm.location)}}
				</div>
				</div>
				<div class="div-form">
					{{ form_label(armorPieceForm.type)}}
					{{form_widget(armorPieceForm.type)}}
					<div class="div-errors">
					{{ form_errors(armorPieceForm.type)}}
				</div>
				</div>
				<div class="div-form">
					{{ form_label(armorPieceForm.physicalAbsorption)}}
					{{form_widget(armorPieceForm.physicalAbsorption)}}
					<div class="div-errors">
					{{ form_errors(armorPieceForm.physicalAbsorption)}}
				</div>
				<div class="div-form">
					{{ form_label(armorPieceForm.magicalAbsorption)}}
					{{form_widget(armorPieceForm.magicalAbsorption)}}
					<div class="div-errors">
					{{ form_errors(armorPieceForm.magicalAbsorption)}}
				</div>
				</div>
			</div>
			<div>
				<button class="valid-form">Créer !</button>
			</div>
			{{form_end(armorPieceForm)}}
		</div>
	</div>
	<div class="container">
		<button class="default-sort">Tri par defaut</button>
		<table class="tableau" id="armor-piece-table">
			<thead>
				<tr>
					<th class="sortable number">Id</th>
					<th class="sortable text">Emplacement</th>
					<th class="sortable text">Type</th>
					<th class="sortable number">Resistance physique</th>
					<th class="sortable number">Resistance magique</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for piece in piecesTab %}
					<tr>
						<td>{{piece.id}}</td>
						<td>{{piece.locationName}}</td>
						<td>{{piece.typeName}}</td>
						<td>{{piece.physicalAbsorption}}</td>
						<td>{{piece.magicalAbsorption}}</td>
						<td>
							<a href="{{path("admin_update_armor_piece", {pieceId : piece.id})}}" class="update-link">modifier</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="pagination"></div>
	</div>
{% endblock %}
{% block navside %}
	{% set navsideDisplay = true %}
	{% set navsideLinks = [
			jsonLinks.returnAdmin,
			jsonLinks.weapons,
			jsonLinks.armorTypes,
			jsonLinks.armorLocation,
		]
	%}
	{{parent()}}
{% endblock %}
