{% extends 'base.html.twig' %}

{% block title %}
	Ajouter une pièce d'armure |
	{{parent()}}
{% endblock %}

{% block body %}
	<div class="container">
		<div class="div-form-hidden">
			<a id="show-form">Ajouter un Menbre</a>
			{{form_start(armorPieceForm, { "attr" : {"class" : "hidden"} }) }}
			<div class="row">

				<div class="div-form">
					{{ form_label(armorPieceForm.location)}}
					{{form_widget(armorPieceForm.location)}}
					<div class="div-errors">
					{{ form_errors(armorPieceForm.location)}}
				</div>
				</div>
				<div class="div-form">
					{{ form_label(armorPieceForm.type)}}
					{{form_widget(armorPieceForm.type)}}
					<div class="div-errors">
					{{ form_errors(armorPieceForm.type)}}
				</div>
				</div>
				<div class="div-form">
					{{ form_label(armorPieceForm.value)}}
					{{form_widget(armorPieceForm.value)}}
					<div class="div-errors">
					{{ form_errors(armorPieceForm.value)}}
				</div>
				</div>
			</div>
			<div>
				<button class="valid-form">Créer</button>
			</div>
			{{form_end(armorPieceForm)}}
		</div>
	</div>
	<div class="container">
		<table class="tableau">
			<tr>
				<th>Id</th>
				<th>Emplacement</th>
				<th>Type</th>
				<th>Valeur</th>
				<th></th>
			</tr>
			{% for piece in piecesTab %}
				<tr>
					<th>{{piece.id}}</th>
					<th>{{piece.locationName}}</th>
					<th>{{piece.typeName}}</th>
					<th>{{piece.value}}</th>
					<th>
                        <a href="{{path("admin_update_armor_piece", {pieceId : piece.id})}}" class="update-link">modifier</a>
					</th>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}
{% block script %}
	<script src="{{ asset("script/delete.js")}}"></script>
{% endblock %}