{% extends 'base.html.twig' %}

{% block title %}Pièces d'armure | {{parent()}}{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="title">Pieces d'armures</h1>
		{% for message in app.flashes('success') %}
			<div class="flash success">
				{{ message }}
			</div>
		{% endfor %}
		{% for message in app.flashes('error') %}
			<div class="flash error">
				{{ message }}
			</div>
		{% endfor %}
		<div class="div-form-hidden">
			<a id="show-form">Pieces d'armure</a>
			{{form_start(armorPieceForm, { "attr" : {"class" : "hidden"} }) }}
			<div class="row">

				<div class="div-form">
					{{ form_label(armorPieceForm.location)}}
					{{form_widget(armorPieceForm.location)}}
					<div class="div-errors">
					{{ form_errors(armorPieceForm.location)}}
				</div>
				</div>
				<div class="div-form">
					{{ form_label(armorPieceForm.type)}}
					{{form_widget(armorPieceForm.type)}}
					<div class="div-errors">
					{{ form_errors(armorPieceForm.type)}}
				</div>
				</div>
				<div class="div-form">
					{{ form_label(armorPieceForm.value)}}
					{{form_widget(armorPieceForm.value)}}
					<div class="div-errors">
					{{ form_errors(armorPieceForm.value)}}
				</div>
				</div>
			</div>
			<div>
				<button class="valid-form">Créer !</button>
			</div>
			{{form_end(armorPieceForm)}}
		</div>
	</div>
	<div class="container">
		<button class="default-sort">Tri par defaut</button>
		<table class="tableau">
			<thead>
				<tr>
					<th class="sortable number">Id</th>
					<th class="sortable text">Emplacement</th>
					<th class="sortable text">Type</th>
					<th class="sortable number">Valeur</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for piece in piecesTab %}
					<tr>
						<td>{{piece.id}}</td>
						<td>{{piece.locationName}}</td>
						<td>{{piece.typeName}}</td>
						<td>{{piece.value}}</td>
						<td>
							<a href="{{path("admin_update_armor_piece", {pieceId : piece.id})}}" class="update-link">modifier</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="navside-container">
		<div class="div-show-navside show">
			<a href="" id="show-navside">Navigation</a>
		</div>
		<div class="navside navside-hidden">
			<a title="Retour a l'accueil administrateur" class="link" href="{{ path('admin_home')}}">Retour</a>
			<a title="Liste des armes" class="link" href="{{ path('admin_weapon_list')}}">Armes</a>
			<a title="Liste des types d'armure" class="link" href="{{ path('admin_armor_type_list')}}">Ajouter un Type aux armures</a>
			<a title="Liste des localisation d'armure" class="link" href="{{ path('admin_armor_location_list')}}">Ajouter une localisation au armure</a>
		</div>
	</div>
{% endblock %}
{% block script %}
    <script src="{{asset('script/tableau.js')}}"></script>
	<script src="{{ asset("script/delete.js")}}"></script>
{% endblock %}