{% extends 'base.html.twig' %}
{% block title %}
	Types d'armure |
	{{parent()}}
{% endblock %}

{% block body %}
	<div class="container">
		<h2>Types d'armure</h2>
			{% for message in app.flashes('success') %}
				<div class="flash success">
					{{ message }}
				</div>
			{% endfor %}
			{% for message in app.flashes('error') %}
				<div class="flash error">
					{{ message }}
				</div>
			{% endfor %}
		<table class="tableau">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for element in list %}

					<tr>
						<td> {{element.id}} </td>
						<td> {{ element.name }} </td>
						<td>
							<a href="{{path("admin_armor_type_update", {typeId : element.id})}}" class="update-link">modifier</a>
						</td>
					</tr>
						
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="div-form-hidden">
		<a id="show-form">Ajouter un type d'armure</a>
		{{form_start(form, { "attr" : { "class" : "hidden"}}) }}
			<h3 class="title-form"> {{ form_label(form.name) }} </h3>
			<div class="div-form">
				{{ form_widget(form.name) }}
				<div class="div-errors">
					{{ form_errors(form.name)}}
				</div>
			</div>
			<button class="valid-form">Créer</button>
		{{form_end(form) }}
	</div>
{% endblock %}

{% block script %}
	<script src="{{ asset("script/delete.js")}}"></script>
{% endblock %}