{% extends 'base.html.twig' %}
{% block title %}Types d'armure | {{parent()}}{% endblock %}

{% block body %}
	<div class="container">
		<h2 class="titre-table">Types d'armure</h2>
		{% for message in app.flashes('success') %}
			<div class="flash success">
				{{ message }}
			</div>
		{% endfor %}
		{% for message in app.flashes('error') %}
			<div class="flash error">
				{{ message }}
			</div>
		{% endfor %}
		<div class="div-form-hidden">
			<a id="show-form">Ajouter un type d'armure</a>
			{{form_start(form, { "attr" : { "class" : "hidden"}}) }}
				<h3 class="title-form"> {{ form_label(form.name) }} </h3>
				<div class="div-form">
					{{ form_widget(form.name) }}
					<div class="div-errors">
						{{ form_errors(form.name)}}
					</div>
				</div>
				<button class="valid-form">Créer !</button>
			{{form_end(form) }}
		</div>
		<table class="tableau">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for element in list %}

					<tr>
						<td> {{element.id}} </td>
						<td> {{ element.name }} </td>
						<td>
							<a href="{{path("admin_armor_type_update", {typeId : element.id})}}" class="update-link">modifier</a>
						</td>
					</tr>
						
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="navside-container">
		<div class="div-show-navside show">
			<a href="" id="show-navside">Navigation</a>
		</div>
		<div class="navside navside-hidden">
			<a title="Retour a l'accueil administrateur" class="link" href="{{ path('admin_home')}}">Retour</a>
			<a title="Liste des armes" class="link" href="{{ path('admin_weapon_list')}}">Arme</a>
			<a title="Liste des localisation d'armure" class="link" href="{{ path('admin_armor_location_list')}}">Ajouter une localisation au armure</a>
			<a title="Liste des pieces d'armure"class="link" href="{{ path('admin_add_armor_piece')}}">Ajouter une pièce d'armure</a>
		</div>
	</div>
{% endblock %}

{% block script %}
	<script src="{{ asset("script/delete.js")}}"></script>
{% endblock %}