{% extends 'base.html.twig' %}

{% block title %}
	Ajouter un membre |
	{{parent()}}
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="title">{{team.name}}</h1>
			{% for message in app.flashes('success') %}
				<div class="flash success">
					{{ message }}
				</div>
			{% endfor %}
		{# <a href="{{path("admin_team_rename", {"teamId" : team.id})}}">Rennomer l'equipe</a> #}
		<ul>
			{% for member in teamMembers %}
				<li>
					<a href="{{ path("team_sheet_view", {"teamSlug" : team.slug, "teamId" : team.id, "characterSlug": member.slug, "characterId" : member.id}) }}">{{ member.name }}</a>
					<a class="ajax-delete-link" href="{{ path("admin_delete_team_member", {"characterId" : member.id}) }}">Supprimmer</a>
				</li>
			{% endfor %}
		</ul>

		<div class="div-form-hidden">
			{{form_start(memberForm, {'attr': {'class': 'hidden'} }) }}
			<div class="div-form">
				{{ form_label(memberForm.character) }}
                {{ form_widget(memberForm.character) }}
			</div>
			<button class="valid-form">Ajouter !</button>
			{{form_end(memberForm)}}
			<a id="show-form">Ajouter un Menbre</a>
		</div>
	</div>


{% endblock %}


{% block script %}
	<script src="{{ asset("script/delete.js")}}"></script>
{% endblock %}