{% extends 'base.html.twig' %}

{% block title %}Ajouter un membre | {{parent()}}{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="title">{{team.name}}</h1>
		{% for message in app.flashes('success') %}
			<div class="flash success">
				{{ message }}
			</div>
		{% endfor %}
		{% for message in app.flashes('error') %}
			<div class="flash error">
				{{ message }}
			</div>
		{% endfor %}
			<div class="div-form-hidden">
				{{form_start(memberForm, {'attr': {'class': 'hidden'} }) }}
					<div class="div-form">
						{{ form_label(memberForm.character) }}
						{{ form_widget(memberForm.character) }}
					</div>
					<button class="valid-form">Ajouter !</button>
				{{form_end(memberForm)}}
				<a id="show-form">Ajouter un Menbre</a>
			</div>
		</div>
		{# <a href="{{path("admin_team_rename", {"teamId" : team.id})}}">Rennomer l'equipe</a> #}
		<button class="default-sort">tri par defaut</button>
		<table class="tableau">
            <thead>
                <tr>
				{% if is_granted("ROLE_ADMIN") %}
					<th class="sortable number">Id</th>
				{% endif %}
                    <th>Image</th>
                    <th class="sortable text">Nom</th>
                    <th class="sortable number">Level</th>
					<th></th>
                </tr>
            </thead>
            <tbody>
                {% for character in teamMembers %}
                    <tr>
						{% if is_granted("ROLE_ADMIN") %}
                        	<td class="data-id">{{character.id}}</td>
						{% endif %}
                        <td>
                            <img src="{{asset('image_personnage/'~ character.image)}}" alt="" height="50">
                        </td>
                        <td class="data-name">
                            <a title="Voir la fiche de {{character.name}}" href="{{ path("team_sheet_view", {"teamSlug" : team.slug, "teamId" : team.id, "characterSlug": character.slug, "characterId" : character.id}) }}">{{ character.name }}</a>
                        </td>
                        <td> {{character.level}} </td>
						<td>
							<a title="Enlever {{character.name}} de l'équipe" class="ajax-delete-link" href="{{ path("admin_delete_team_member", {"characterId" : character.id}) }}">Supprimmer</a>						
						</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    	<div class="navside-container">
			<div class="div-show-navside show">
				<a href="" id="show-navside">Navigation</a>
			</div>
			<div class="navside navside-hidden">
				<a title="Liste des équipes" class="link" href="{{path("master_team_list")}}">Retourner voir les equipe</a>
				<a title="Liste des pesonnages et des equipes" class="link" href="{{path("master_list_character_team")}}">Voir mes equipes et mes personnages</a>
			</div>
		</div>
	</div>
{% endblock %}


{% block script %}
    <script src="{{asset('script/tableau.js')}}"></script>
	<script src="{{ asset("script/delete.js")}}"></script>
{% endblock %}