{% extends 'personnage/list.html.twig' %}

{% block title %}Mes personnage & Mes equipe | Guintuaris{% endblock %}

{% block link %}
    {{parent()}}
    <a href="{{path("character_list")}}"><img src="{{asset("img/list.png")}}" alt="" height="10">Voir les personnages</a>
    <a href="{{path("master_team_list")}}"><img src="{{asset("img/list.png")}}" alt="" height="10">Voir les equipes</a>
{% endblock %}
{% block body %}
    {{parent()}}
    <div class="container">
        <h2 class="titre-table">Equipes</h2>
        <div class="div-form-hidden">
            {{form_start(addTeamForm, {'attr': {'class': 'hidden'} }) }}
                <div class="div-form">
                    {{ form_label(addTeamForm.name) }}
                    {{ form_widget(addTeamForm.name) }}
                </div>
                <button class="valid-form">Créer</button>
            {{form_end(addTeamForm) }}
            <a id="show-form">Crée une nouvelle équipe</a>
        </div>
        <table class="tableau">
            <thead>
                <th>Name</th>
                <th></th>
                <th></th>
            </thead>
            <tbody>
                {% for team in teams %}
                    <tr>
                        <td class="data-name">  <a href="{{ path("master_add_member", {'slug' : team.slug, "teamId" : team.id}) }}">{{ team.name }}</a> </td>
                        <td>
                            <a href="{{ path("master_team_rename", {'teamId' : team.id}) }}" class="update-link">Renomer</a>
                        </td>
                        <td>
                            <a class="ajax-delete-link" href="{{ path("master_delete_team",  { "id": team.id}) }}">Supprimer</a>
                        </td>
                    </tr>	
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block script %}
    <script src="{{ asset("script/delete.js")}}"></script>
{% endblock %}