{% extends 'base.html.twig' %}

{% block title %}
	Ajouter une Bête |
	{{parent()}}
{% endblock %}

{% block body %}
	<div class="container">
		{{ form_start(beteForm) }}
		<div>
			<h3 class="title-form">Monstre</h3>
		</div>
		<div class="row">
			<div class="div-form">{{ form_label(beteForm.nom) }}
				
				{{ form_widget(beteForm.nom) }}
			</div>

			<div class="div-form">{{ form_label(beteForm.niveau) }}
				
				{{ form_widget(beteForm.niveau) }}
			</div>
			<div class="div-form">{{ form_label(beteForm.Type) }}
				
				{{ form_widget(beteForm.Type) }}
			</div>
		</div>
		<div>
			<h3 class="title-form">Statut</h3>
		</div>
		<div class="row">
			<div class="div-form">{{ form_label(beteForm.pvMax) }}
				
				{{ form_widget(beteForm.pvMax) }}
			</div>
			<div class="div-form">{{ form_label(beteForm.pmMax) }}
				
				{{ form_widget(beteForm.pmMax) }}
			</div>
			<div class="div-form">{{ form_label(beteForm.pcMax) }}
				
				{{ form_widget(beteForm.pcMax) }}
			</div>
		</div>
		<div>
			<h3 class="title-form">Statistiques</h3>
		</div>
		<div class="row">
			<div class="div-form">{{ form_label(beteForm.constitution) }}
				
				{{ form_widget(beteForm.constitution) }}
			</div>
			<div class="div-form">{{ form_label(beteForm.laForce) }}
				
				{{ form_widget(beteForm.laForce) }}
			</div>
			<div class="div-form">{{ form_label(beteForm.dexterite) }}
				
				{{ form_widget(beteForm.dexterite) }}
			</div>

		</div>
		<div class="row">
			<div class="div-form">{{ form_label(beteForm.intelligence) }}
				
				{{ form_widget(beteForm.intelligence) }}
			</div>
			<div class="div-form">{{ form_label(beteForm.charisme) }}
				
				{{ form_widget(beteForm.charisme) }}
			</div>
			<div class="div-form">{{ form_label(beteForm.foi) }}
				
				{{ form_widget(beteForm.foi) }}
			</div>
		</div>
		<div class="row">
			<div class="textarea-form">
				<h3 class="title-form">
					{{ form_label(beteForm.note) }}
				</h3>
				
				{{ form_widget(beteForm.note) }}
			</div>
		</div>
		<button class="valid-form">Ajouter !</button>
		{{form_end(beteForm)}}
	</div>
{% endblock %}
