{% extends 'base.html.twig' %}

{% block title %}
	Ajouter une compétence |
	{{parent()}}
{% endblock %}

{% block body %}
	<div class="container">
		{{ form_start(competenceForm) }}
		<div>
			<h3 class="title-form">Géneral</h3>
			<div class="row">
				<div class="div-form">{{ form_label(competenceForm.name) }}
					
					{{ form_widget(competenceForm.name) }}
				</div>
				<div class="div-form">{{ form_label(competenceForm.level) }}
					
					{{ form_widget(competenceForm.level) }}
				</div>
				<div class="div-form">{{ form_label(competenceForm.class) }}
					
					{{ form_widget(competenceForm.class) }}
				</div>
			</div>
		</div>
		<div>
			<h3 class="title-form">Précisions</h3>
			<div class="row">
				<div class="div-form">{{ form_label(competenceForm.cost) }}
					
					{{ form_widget(competenceForm.cost) }}
				</div>
				<div class="div-form">{{ form_label(competenceForm.distance) }}
					
					{{ form_widget(competenceForm.distance) }}
				</div>
				<div class="div-form">{{ form_label(competenceForm.damage) }}
					
					{{ form_widget(competenceForm.damage) }}
				</div>
			</div>
			<div id="add-skill-row">
				<div class="div-form">{{ form_label(competenceForm.duration) }}
					
					{{ form_widget(competenceForm.duration) }}
				</div>
				<div class="div-form">{{ form_label(competenceForm.radius) }}
					
					{{ form_widget(competenceForm.radius) }}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="textarea-form">
				<h3 class="title-form">
					{{ form_label(competenceForm.description) }}
				</h3>
				
				{{ form_widget(competenceForm.description) }}

			</div>
		</div>

		<button class="valid-form">Ajouter !</button>
		{{form_end(competenceForm)}}
	</div>
{% endblock %}
