{% extends 'base.html.twig' %}

{% block title %}
	Ajouter un membre |
	{{parent()}}
{% endblock %}

{% block body %}
	<div class="container">
		{{form_start(membreForm)}}
		{{form_widget(membreForm)}}
		<button>Ajouter !</button>
		{{form_end(membreForm)}}
		<ul>
			{% for membre in membresEquipe %}
				<li>
					<a href="{{ path("equipe_fiche_view", {"idEquipe" : membre.equipe.id, "idPersonnage" : membre.id}) }}">{{ membre.nom }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>


{% endblock %}
