{% extends 'base.html.twig' %}

{% block title %}
	Ajouter un membre |
	{{parent()}}
{% endblock %}

{% block body %}
	<div class="container">
		{{form_start(memberForm)}}
		{{form_widget(memberForm)}}
		<button>Ajouter !</button>
		{{form_end(memberForm)}}
		<ul>
			{% for member in teamMembers %}
				<li>
					<a href="{{ path("equipe_fiche_view", {"teamId" : member.team.id, "characterId" : member.id}) }}">{{ member.name }}</a>
				</li>
			{% endfor %}
		</ul>
	</div>


{% endblock %}
