{% extends 'base.html.twig' %}

{% block title %}
	Ajouter une pièce d'armure |
	{{parent()}}
{% endblock %}

{% block body %}
	<div class="container">
		{{form_start(armorPieceForm)}}
		<div class="row">

			<div class="div-form">{{ form_label(armorPieceForm.location)}}{{form_widget(armorPieceForm.location)}}</div>
			<div class="div-form">{{ form_label(armorPieceForm.type)}}{{form_widget(armorPieceForm.type)}}</div>
			<div class="div-form">{{ form_label(armorPieceForm.value)}}{{form_widget(armorPieceForm.value)}}</div>
		</div>
		<div>
			<button class="valid-form">Créer</button>
		</div>
		{{form_end(armorPieceForm)}}
	</div>
	<div class="container">
		<table class="tableau">
			<tr>
				<th>Id</th>
				<th>Emplacement</th>
				<th>Type</th>
				<th>Valeur</th>
			</tr>
			{% for piece in piecesTab %}
				<tr>
					<th>{{piece.id}}</th>
					<th>{{piece.locationName}}</th>
					<th>{{piece.typeName}}</th>
					<th>{{piece.value}}</th>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}
