{% extends 'base.html.twig' %}

{% block title %} Ajouter une pièce d'armure | {{parent()}}{% endblock %}

{% block body %}

 {{form_start(pieceForm)}}
 {{form_widget(pieceForm)}}
 <button>Créer</button>
 {{form_end(pieceForm)}}
<table>
    <tr>
        <th>Id</th>
        <th>Emplacement</th>
        <th>Type</th>
        <th>Valeur</th>
    </tr>
    {% for piece in piecesTab %}
    <tr>
        <th>{{piece.id}}</th>
        <th>{{piece.localisation.nom}}</th>
        <th>{{piece.type.nom}}</th>
        <th>{{piece.valeur}}</th>
    </tr>
    {% endfor %}
</table>
{% endblock %}
