{% extends 'base.html.twig' %}

{% block title %}
	Espace Administrateur |
	{{parent()}}
{% endblock %}

{% block style %}
	<link rel="stylesheet" href="{{asset("style/minifiche.css")}}">
{% endblock %}


{% block body %}
	<div class="container">
		<span>Classe, Race</span>
		<ul class="list">
			<li class="nav-item">
				<a class="link" href="{{ path('admin_race_list')}}">Race</a>
			</li>
			<li class="nav-item">
				<a class="link" href="{{ path('admin_class_list')}}">classes</a>
			</li>
			<li class="nav-item">
				<a class="link" href="{{ path('admin_skill_list')}}">compétence</a>
			</li>
		</ul>

		<span>Arme, Armure</span>
		<ul class="list">
			<li class="nav-item">
				<a class="link" href="{{ path('admin_weapon_list')}}">Arme</a>
			</li>
			<li class="nav-item">
				<a class="link" href="{{ path('admin_armor_type_list')}}">Ajouter un Type aux armures</a>
			</li>
			<li class="nav-item">
				<a class="link" href="{{ path('admin_armor_location_list')}}">Ajouter une localisation au armure</a>
			</li>
			<li class="nav-item">
				<a class="link" href="{{ path('admin_add_armor_piece')}}">Ajouter une pièce d'armure</a>
			</li>
		</ul>
		
		<span>Bestiaire</span>
		<ul class="list">
			<li class="nav-item">
				<a class="link" href="{{ path('admin_bestiary_list')}}">bestiaire</a>
			</li>
			<li class="nav-item">
				<a class="link" href="{{ path('admin_bestiary_type_list')}}">Ajouter un Type au bestiaire</a>
			</li>
		</ul>

		<span>Personnages et joueurs</span>
		<ul class="list">
			<li class="nav-item">
				<a class="link" href="{{ path('admin_team_list')}}">Ajouter un membre a une équipe</a>
			</li>
			<li class="nav-item">
				<a class="link" href="{{path("admin_user_list")}}">liste utilisateur</a>
			</li>
			<li>
				<a class="link" href="{{path("admin_character_list")}}">Liste des Personnages</a>
			</li>
		</ul>

	</div>

{% endblock %}
