{% extends 'base.html.twig' %}

{% block title %}
	Espace Administrateur |
	{{parent()}}
{% endblock %}

{% block style %}
	<link rel="stylesheet" href="{{asset("style/minifiche.css")}}">
{% endblock %}


{% block body %}

	<li class="nav-item">
		<a href="{{ path('admin_skill_list')}}"><img src="{{asset("img/list.png")}}" alt="" height="10">compétence</a>
	</li>
	<li class="nav-item">
		<a href="{{ path('admin_weapon_list')}}"><img src="{{asset("img/list.png")}}" alt="" height="10">Arme</a>
	</li>
	<li class="nav-item">
		<a href="{{ path('admin_bestiary_list')}}"><img src="{{asset("img/list.png")}}" alt="" height="10">bestiaire</a>
	</li>
	<li class="nav-item">
		<a href="{{ path('admin_add_armor_piece')}}"><img src="{{asset("img/list.png")}}" alt="" height="10">Ajouter une pièce d'armure</a>
	</li>
	<li class="nav-item">
		<a href="{{ path('admin_team_list')}}"><img src="{{asset("img/list.png")}}" alt="" height="10">Ajouter un membre a une équipe</a>
	</li>


	<span>les ajout simples</span>
	<li class="nav-item">
		<a href="{{ path('admin_bestiary_type_list')}}"><img src="{{asset("img/list.png")}}" alt="" height="10">Ajouter un Type au bestiaire</a>
	</li>
	<li class="nav-item">
		<a href="{{ path('admin_armor_type_list')}}"><img src="{{asset("img/list.png")}}" alt="" height="10">Ajouter un Type aux armures</a>

	</li>
	<li class="nav-item">
		<a href="{{ path('admin_armor_location_list')}}"><img src="{{asset("img/list.png")}}" alt="" height="10">Ajouter une localisation au armure</a>
	</li>


{% endblock %}
