{% extends 'base.html.twig' %}

{% block title %}Espace Administrateur | {{parent()}}{% endblock %}

{% block style %}
	<link rel="stylesheet" href="{{asset("style/minifiche.css")}}">
{% endblock %}


{% block body %}
	<div class="container">
		<span>Classe, Race</span>
		<ul class="list">
			<li class="nav-item">
				<a title="Liste des Races" class="link" href="{{ path('admin_race_list')}}">Races</a>
			</li>
			<li class="nav-item">
				<a title="Liste des Classes" class="link" href="{{ path('admin_class_list')}}">Classes</a>
			</li>
			<li class="nav-item">
				<a title="Liste des compétences" class="link" href="{{ path('admin_skill_list')}}">Compétences</a>
			</li>
		</ul>

		<span>Arme, Armure</span>
		<ul class="list">
			<li class="nav-item">
				<a title="Liste des armes" class="link" href="{{ path('admin_weapon_list')}}">Armes</a>
			</li>
			<li class="nav-item">
				<a title="Liste des types d'armure" class="link" href="{{ path('admin_armor_type_list')}}">Types d'armure</a>
			</li>
			<li class="nav-item">
				<a title="Liste des pieces d'armure" class="link" href="{{ path('admin_armor_location_list')}}">Localisation d'armure</a>
			</li>
			<li class="nav-item">
				<a title="Liste des localisation d'armure" class="link" href="{{ path('admin_add_armor_piece')}}">Pièces d'armure</a>
			</li>
		</ul>
		
		<span>Bestiaire</span>
		<ul class="list">
			<li class="nav-item">
				<a title="Liste des types de creature" class="link" href="{{ path('admin_bestiary_list')}}">Liste des creature au bestiaire</a>
			</li>
			<li class="nav-item">
				<a title="Liste de creature du bestiaire" class="link" href="{{ path('admin_bestiary_type_list')}}">Liste des types au bestiaire</a>
			</li>
		</ul>

		<span>Ressource</span>
		<ul class="list">
			<li class="nav-item"><a href="{{ path('admin_resource_list')}}" title="liste" class="link">Liste de ressource</a></li>
			<li class="nav-item"><a href="{{ path('admin_resource_list')}}" title="liste" class="link"></a></li>
		</ul>

		<span>Personnages et joueurs</span>
		<ul class="list">
			<li class="nav-item">
				<a class="link" href="{{ path('admin_team_list')}}">Ajouter un membre a une équipe</a>
			</li>
			<li class="nav-item">
				<a class="link" href="{{path("admin_user_list")}}">liste utilisateur</a>
			</li>
			<li class="nav-item">
				<a class="link" href="{{path("admin_character_list")}}">Liste des Personnages</a>
			</li>
		</ul>

	</div>

{% endblock %}
