{% extends 'base.html.twig' %}
{% block title %} Les Equipe | {{parent()}}{% endblock %}

{% block body %}
    <h2>Fiches personnage</h2>
    <ul>
    {% for equipe in equipes %}
        <li>
            <a href="{{ path("admin_add_membre", {"idEquipe" : equipe.id}) }}">{{ equipe.nom }}</a>
        </li>
    {% endfor %}
    </ul>

{{form_start(addEquipeForm) }}
{{form_widget(addEquipeForm) }}
<button>creer</button>
{{form_end(addEquipeForm) }}
{% endblock %}