{% extends 'base.html.twig' %}
{% block title %}
	Les équipes |
	{{parent()}}
{% endblock %}

{% block body %}
	<h2>Fiches personnages</h2>
	<div class="container">
		<table class="tableau">
			<tr>
				<th>Id</th>
				<th>Name</th>
			</tr>
			{% for element in list %}

				<tr>
					<th> {{element.id}} </th>
					<th> {{ element.name }} </th>
					{% if restrict is not defined %}
						<th>
								<a class="ajax-delete-link alert" href="">Supprimer</a>
						</th>
					{% endif %}
				</tr>
					
			{% endfor %}
		</table>
	</div>
	{{form_start(form) }}
	{{form_widget(form) }}
	<button>Créer</button>
	{{form_end(form) }}
{% endblock %}

{% block script %}
	<script src="{{ asset("script/delete.js")}}"></script>
{% endblock %}