{% extends 'base.html.twig' %}

{% block title %} Mon équipe | {{parent()}}{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="title">{{team.name}}</h1>
        <button class="default-sort">tri par defaut</button>
        <table class="tableau">
            <thead>
                <tr>
                    <th>Image</th>
                    <th class="sortable text">Nom</th>
                    <th class="sortable number">Level</th>
                </tr>
            </thead>
            <tbody>
                {% for character in characters %}
                    <tr>
                        <td>
                            <img src="{{asset('image_personnage/'~ character.image)}}" alt="" height="50">
                        </td>
                        <td>
                            <a title="Voir la fiche de {{character.name}}" href="{{ path("team_sheet_view", {"teamSlug" : team.slug, "teamId" : team.id, "characterSlug": character.slug, "characterId" : character.id}) }}">{{ character.name }}</a>
                        </td>
                        <td> {{character.level}} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="navside-container">
		<div class="div-show-navside show">
			<a href="" id="show-navside">Navigation</a>
		</div>
		<div class="navside navside-hidden">
			{# <a href="{{path("character_list")}} ">Retour</a> #}
			{% for character in charactersUser %}
				<a title="Retourner sur la fiche de {{character.name}}" href="{{ path("character_view", {"slug" : character.slug, "id" : character.id}) }}">Retour {{character.name}}</a>
			{% endfor %}
			
		</div>
	</div>
    
{% endblock %}

{% block script %}
    <script src="{{asset('script/tableau.js')}}"></script>
{% endblock %}