{% extends 'base.html.twig' %}
{% block title %}Equipier {{character.name}} | {{parent()}}{% endblock %}
{% block style %}
	<link rel="stylesheet" href="{{asset('style/personnage.css')}}">
	<link rel="stylesheet" href="{{asset('style/dropdown.css')}}">
	<link rel="stylesheet" href="{{asset('style/range.css')}}">

{% endblock %}


{% block body %}
	<div class="container">
		<div class="row">
			<div class="img-div">
				<div>
					<img src="{{asset('image_personnage/'~ character.image)}}" alt="" height="200">
				</div>

			</div>
			<div class="div-detail-personnage">
				<h1>{{ character.name }}</h1>
				<h3>{{ character.race.name }}</h3>
				<h3>{{ character.class.name }}</h3>
				<h3>Niveau {{ character.level }}</h3>
				{% if character.team != null %}
					<h5>{{character.team.name}}</h5>
				{% endif %}

			</div>
			<div class="div-lore">

				<div class="dropdown" id="lore">
					<button class="dropbtn">Lore
						<img src="{{ asset('img/list.svg')}}" alt="" class="drop-logo" height="10"></button>
					<div class="dropdown-content hidden">
						<textarea name="" id="lore-content" cols="50" readonly>{{ character.lore }}</textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="div-statistique">
				<div class="statistique">
					<p class="label">Constitution :</p>
					<div class="statistique-valeur">
						<p>{{ character.constitution }}</p>
					</div>
				</div>
				<div class="statistique">
					<p class="label">Charisme :</p>
					<div class="statistique-valeur">
						<p>{{ character.charisma }}</p>
					</div>
				</div>
				<div class="statistique">
					<p class="label">Dextérite :</p>
					<div class="statistique-valeur">
						<p>{{ character.dexterity }}</p>
					</div>
				</div>
				<div class="statistique">
					<p class="label">Foi :</p>
					<div class="statistique-valeur">
						<p>{{ character.faith }}</p>
					</div>
				</div>
				<div class="statistique">
					<p class="label">Force :</p>
					<div class="statistique-valeur">
						<p>{{ character.strength }}</p>
					</div>
				</div>
				<div class="statistique">
					<p class="label">Intelligence :</p>
					<div class="statistique-valeur">
						<p>{{ character.intelligence }}</p>
					</div>
				</div>
			</div>
			<div class="div-statut">
				<div class="statut">
					<!-- ~~~~~~ vie valeur numerique ~~~~~~ -->
					<label for="pv" class="label label-statut">PV
					</label>
					<input type="number" class="numerique" id="" name="number" value="{{character.pv}}" readonly>
					<span class="max">/ {{character.pvMax}}</span>

					<!-- ~~~~~~ barre de vie ~~~~~~ -->
					<input type="range" class="bar" id="pv-range" min="0" , max="{{character.pvMax}}" value="{{character.pv}}" disabled>
				</div>
				<div class="statut">
					<!-- ~~~~~~ mana valeur numerique ~~~~~~ -->
					<label for="pm" class="label label-statut">PM</label>
					<input type="number" class="numerique" id="" name="" value="{{character.pm}}" readonly>

					<span class="max">/ {{character.pmMax}}</span>

					<!-- ~~~~~~ bar de mana ~~~~~~ -->
					<input type="range" class="bar" id="pm-range" min="0" , max="{{character.pmMax}}" value="{{character.pm}}" disabled>
				</div>
				<div
					class="statut">

					<!-- ~~~~~~ mana valeur numerique ~~~~~~ -->
					<label for="pc" class="label label-statut">PC
					</label>
					<input type="number" class="numerique" id="" name="" value="{{character.pc}}" readonly>

					<span class="max">/ {{character.pcMax}}</span>

					<!-- ~~~~~~ bar de mana ~~~~~~ -->
					<input type="range" class="bar" id="pc-range" min="0" , max="{{character.pcMax}}" value="{{character.pc}}" disabled>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="inventaire-form">
				<div class="label label-form">
					<span>Inventaire</span>
				</div>
				<textarea readonly>{{character.inventory}}</textarea>
				<div class="label label-form">
					<span>Po</span>
				</div>
				<input type="number" value="{{character.gold}}" readonly>

			</div>
		</div>
	</div>
	<div class="container">
		<div>
			<select name="" id="select-stat">
				<option value="{{character.constitution}}">Constitution</option>
				<option value="{{character.strength}}">Force</option>
				<option value="{{character.dexterity}}">Dextérité</option>
				<option value="{{character.intelligence}}">Intelligence</option>
				<option value="{{character.charisma}}">Charisme</option>
				<option value="{{character.faith}}">Foi</option>
			</select>
			<select name="" id="ca">
				<option value="20">+20</option>
				<option value="15">+15</option>
				<option value="10">+10</option>
				<option value="5">+5</option>
				<option value="0" selected="selected">0</option>
				<option value="5">3 (-5)</option>
				<option value="10">5 (-10)</option>
				<option value="15">7 (-15)</option>
				<option value="20">10 (-20)</option>
				<option value="25">12 (-25)</option>
				<option value="30">15 (-30)</option>
				<option value="35">17 (-35)</option>
				<option value="50">17+ (-50)</option>
			</select>
			<button id="de">Test !</button>
		</div>
		<div>
			<button class="dice" id="dice-four">1D4</button>
			<button class="dice" id="dice-six">1D6</button>
			<button class="dice" id="dice-height">1D8</button>
			<button class="dice" id="dice-ten">1D10</button>
			<button class="dice" id="dice-twelve">1D12</button>
			<button class="dice" id="dice-twenty">1D20</button>
			<button class="dice" id="dice-hundred">1D100</button>
		</div>
		<div id="result"></div>
	</div>

	<div class="container">
		<div class="row">
			<div>
				<div>
					<h2 class="sub-title-center">Armure</h2>
				</div>
				{% set ca = 0 %}
				<table class="tableau">
					<thead>
						<tr>
							<th>Pièce</th>
							<th>Type</th>
							<th>CA</th>
							<th>Effet</th>
						</tr>
					</thead>
					{% if armor is defined and armor|length > 0%}
						<tbody>
							{% for armorPiece in armor %}
								{% set ca = ca + armorPiece.piece.value %}
								<tr>
									<td>{{ armorPiece.piece.location.name }}</td>
									<td>{{ armorPiece.piece.type.name }}</td>
									<td>{{ armorPiece.piece.value }}</td>
									<td>{{ armorPiece.effect }}</td>
								</tr>
					
					
					
							{% endfor %}
						</tbody>
					{% endif %}
					<tfoot>
						<tr>
							<th>Total :</th>
							<td></td>
							<td>{{ca}}</td>
						</tr>
					</tfoot>
				</table>
			</div>
			<div class="row">
				<div>
					<div>
						<h2 class="sub-title-center">Arme</h2>
					</div>
					<table class="tableau">
						<thead>
							<tr>
								<th>Arme</th>
								<th>Dégats</th>
								<th>Dé</th>
								<th>Effet</th>
							</tr>
						</thead>
						<tbody>
							{% for weapon in weapons %}
								<tr>
								{% if weapon.weapon != null %}
									<td>{{ weapon.weapon.name }}</td>
									<td>{{ weapon.weapon.damage }}</td>
									<td>{{ weapon.weapon.dice }}</td>
									<td>{{ weapon.effect }}</td>
								{% else %}
									<td> Vide </td>
									<td>0</td>
									<td>0</td>
									<td></td>
								{% endif %}
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<h2 class="sub-title-center">Compétences</h2>
	</div>
	<div class="container">
		<div class="div-competence">
			{% for skill in skills %}
				{{skill|skillCard}}
			{% endfor %}
		</div>
	</div>
	<div class="navside-container">
		<div class="div-show-navside show">
			<a href="" id="show-navside">Navigation</a>
		</div>
		<div class="navside navside-hidden">
		{% if charactersUser is defined %}
			{% for character in charactersUser %}
				<a class="link" title="Retourner sur la fiche de {{character.name}}}" href="{{ path("character_view", {"slug" : character.slug, "id" : character.id}) }}">Retour {{character.name}}</a>
			{% endfor %}
		{% endif %}
		{% if teammates is defined %}
			{% for teammate in teammates %}
				<a class="link" title="voir le fiche de {{teammate.name}}" href="{{path("team_sheet_view", {"teamId" : team.id, "teamSlug" : team.slug, "characterId" : teammate.id, "characterSlug" : teammate.slug})}}">{{teammate.name}}</a>
			{% endfor %}
		{% endif %}
			{# <a href="">Retour </a> #}
		</div>
	</div>
{% endblock %}
{% block script %}
	<script src="{{asset('script/dropdown.js')}}"></script>
	<script src="{{asset('script/de.js')}}"></script>
{% endblock %}
