{% extends 'base.html.twig' %}

{% block title %}{{classe.name}} | {{parent()}}{% endblock %}

{% block style %}
	<link rel="stylesheet" href="{{asset('style/dropdown.css')}}">
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="title">{{classe.name}}</h1>

		<h2 class="sub-title">Description</h2>
		<p class="content">{{ classe.description}}</p>

		<h2 class="sub-title">Dé de niveau</h2>
		<div class="row">
			<div>
				<p>Point de vie</p>
				<p>{{ classe.dicePv}}</p>
			</div>
			<div>
				<p>Point de magie</p>
				<p>{{ classe.dicePc}}</p>
			</div>
			<div>
				<p>Points de combat</p>
				<p>{{ classe.dicePm}}</p>
			</div>
		</div>
	</div>
	<div class="container">
		<h2 class="sub-title-center">Compétences</h2>
		<div class="div-competence">
			{% for skill in skills %}
				<div class="competence">
					<div class="dropdown">
						<button class="dropbtn">
							{{skill.name}}
							,
							{{skill.cost}}
							<img src="{{ asset('img/list.svg')}}" alt="" class="drop-logo" height="10"></button>
						<div class="hidden dropdown-content">
							<textarea readonly>{{ skill.description }}</textarea>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}

{% block script %}
	<script src="{{asset('script/dropdown.js')}}"></script>
{% endblock %}
