{% extends 'base.html.twig' %}

{% block title %}{{race.name}} | {{parent()}}{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="title">
			{{race.name}}
		</h1>

		<h2 class="sub-title">Description</h2>
		<p class="content">{{ race.description}}</p>

		<h2 class="sub-title">Aptitude sociale</h2>
		<p class="content">{{ race.socialAbility}}</p>
		
		<h2 class="sub-title">Aptitude Physique</h2>
		<p class="content">{{ race.physicalAbility}}</p>
		
		<h2 class="sub-title">Bonus</h2>
		<p class="content">{{ race.bonus}}</p>
	</div>
{% endblock %}
