{% extends 'base.html.twig' %}
{% block title %}
	Classes |
	{{parent()}}
{% endblock %}

{% block body %}
	<h2 class="titre-table">Classes</h2>
	<div class="container">

    <div class="">
    </div>
		<table class="tableau">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for class in classs %}

					<tr>
						<td> {{class.id}} </td>
						<td> {{ class.name }} </td>
						<td>
							<a href="{{ path("admin_update_class", {'slug' : class.slug}) }}">Modifier</a>
						</td>
					</tr>
						
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="navside-container">
		<div class="div-show-navside show">
			<a href="" id="show-navside">Navigation</a>
		</div>
		<div class="navside navside-hidden">
			<a href="{{ path('admin_home')}}"><img src="{{asset("img/list.png")}}" alt="" height="10">Retour</a>
        	<a href="{{ path("admin_add_class")}}">Creer une Nouvelle Competence</a>
			<a href="{{ path('admin_race_list')}}"><img src="{{asset("img/list.png")}}" alt="" height="10">Race</a>
			<a href="{{ path('admin_skill_list')}}"><img src="{{asset("img/list.png")}}" alt="" height="10">compétence</a>

		</div>
	</div>
{% endblock %}


{% block script %}
	<script src="{{ asset("script/delete.js")}}"></script>
{% endblock %}