{% extends 'base.html.twig' %}
{% block title %}Classes | {{parent()}}{% endblock %}

{% block body %}
	<h2 class="titre-table">Classes</h2>
	<div class="container">
		<table class="tableau">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for class in classs %}

					<tr>
						<td> {{class.id}} </td>
						<td> {{ class.name }} </td>
						<td>
							<a title="Modifier la classe {{class.name}}" href="{{ path("admin_update_class", {'slug' : class.slug}) }}">Modifier</a>
						</td>
					</tr>
						
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="navside-container">
		<div class="div-show-navside show">
			<a href="" id="show-navside">Navigation</a>
		</div>
		<div class="navside navside-hidden">
			<a title="Retour a l'accueil administrateur" class="link" href="{{ path('admin_home')}}">Retour</a>
        	<a title="Créer un nouvelle competence" class="link" href="{{ path("admin_add_class")}}">Creer une Nouvelle Competence</a>
			<a title="List des races" class="link" href="{{ path('admin_race_list')}}">Race</a>
			<a title="List des competences" class="link" href="{{ path('admin_skill_list')}}">compétence</a>

		</div>
	</div>
{% endblock %}


{% block script %}
	<script src="{{ asset("script/delete.js")}}"></script>
{% endblock %}