{% extends 'base.html.twig' %}
{% block title %}
	Classes |
	{{parent()}}
{% endblock %}

{% block body %}
	<h2>Classes</h2>
	<div class="container">

    <div class="">
        <a href="{{ path("admin_add_class")}}">Creer une Nouvelle Competence</a>
    </div>
		<table class="tableau">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for class in classs %}

					<tr>
						<td> {{class.id}} </td>
						<td> {{ class.name }} </td>
						<td>
							<a href="{{ path("admin_update_class", {'slug' : class.slug}) }}">Modifier</a>
						</td>
					</tr>
						
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}


{% block script %}
	<script src="{{ asset("script/delete.js")}}"></script>
{% endblock %}