{% extends 'base.html.twig' %}

{% block title %}
	Board |
	{{parent()}}
{% endblock %}

{% block style %}
	<link rel="stylesheet" href="{{asset("style/minifiche.css")}}">
	<link rel="stylesheet" href="{{asset("style/dropdown.css")}}">
	<link rel="stylesheet" href="{{asset("style/sidebar.css")}}">
{% endblock %}
{% block body %}
	<div id="wrapper">
		<div class="page-content-wrapper">
			<a href="#" id="menu-toggle">toggled</a>
			<div class="board"></div>
		</div>
		<div class="sidebar-wrapper">
			<ul class="sidebar-nav">
			{% for bestiaryType in list %}
				<li>
					<div class="dropdown">
						<button class="dropbtn nav-btn">{{bestiaryType.typeName}}</button>
						<div class="dropdown-content hidden">
							<ul>
								{% for beast in bestiaryType.beasts %}
									<li>
										<a href="{{ path('summon', {"id" : beast.id})}}" class="js-like">{{beast.name}}</a>
									</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</li>
			{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}
{% block script %}
	<script src="{{ asset("script/bar.js")}}"></script>
	<script src="{{ asset("script/minifiche.js")}}"></script>
	<script src="{{ asset("script/sidebar.js")}}"></script>
	<script src="{{ asset("script/dropdown.js")}}"></script>
{% endblock %}
