{% extends 'base.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}
 <div class="container">
        <h1 class="title">Fiches personnages</h1>
        <table class="tableau">
            <thead>
                <tr>
                    <th>id</th>
                    <th scope="col">image</th>
                    <th scope="col">nom</th>
                    <th>niveau</th>
                    <th>equipe</th>
                    <th>utilisateur</th>
                    <th scope="col">action</th>
                </tr>
            </thead>
            <tbody>
                {% for character in characters %}
                    <tr>
                        <td> {{character.id}}</td>
                        <td>
                            <img src="{{asset('image_personnage/'~ character.image)}}" alt="" height="50">
                        </td>
                        <td>
                            {% if character.teamId != null %}   
                                <a href="{{ path("team_sheet_view", {"teamSlug" : character.teamSlug, "teamId" : character.teamId, "characterSlug": character.slug, "characterId" : character.id}) }}">{{ character.name }}</a>
                            {% else %}
                                {{character.name}}
                            {% endif %}
                        </td>
                        <td>{{character.level}}</td>
                        <td>
                            {% if character.teamId != null %}   
                                {{character.teamName}} (id: {{character.teamId}})
                            {% endif %}
                        </td>
                        <td>
                            {{character.userName}} (id : {{character.userId}})
                        </td>
                        <td>
                            <a href="{#{ path("", {"slug" : character.slug, "id" : character.id})}#}">Paramètres</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="navside-container">
        <div class="div-show-navside show">
			<a href="" id="show-navside">Navigation</a>
		</div>
		<div class="navside navside-hidden">
            
        </div>
	</div>
{% endblock %}
