{% extends 'base.html.twig' %}

{% block title %}
	Mon équipement |
	{{parent()}}
{% endblock %}

{% block body %}
	{% if app.user.id == character.user.id %}
		<div class="container">
			{{ form_start(weaponForm)}}

			<div>
				<h3 class="title-form">Armes</h3>
			</div>
			<div class="row">
				<div class="div-form">{{ form_label(weaponForm.n_1) }}
					{{ form_widget(weaponForm.n_1) }}

					{{ form_label(weaponForm.effet_1) }}
					{{ form_widget(weaponForm.effet_1) }}
					<div class="div-errors">
						{{ form_errors(weaponForm.n_1)}}
					</div>
					<div class="div-errors">
						{{ form_errors(weaponForm.effet_1)}}
					</div>
				</div>

				<div class="div-form">{{ form_label(weaponForm.n_2) }}
					{{ form_widget(weaponForm.n_2) }}

					{{ form_label(weaponForm.effet_2) }}
					{{ form_widget(weaponForm.effet_2) }}
					<div class="div-errors">
						{{ form_errors(weaponForm.n_2)}}
					</div>
					<div class="div-errors">
						{{ form_errors(weaponForm.effet_2)}}
					</div>
				</div>

				<div class="div-form">{{ form_label(weaponForm.n_3) }}
					{{ form_widget(weaponForm.n_3) }}

					{{ form_label(weaponForm.effet_3) }}
					{{ form_widget(weaponForm.effet_3) }}
					<div class="div-errors">
						{{ form_errors(weaponForm.n_3)}}
					</div>
					<div class="div-errors">
						{{ form_errors(weaponForm.effet_3)}}
					</div>
				</div>
			</div>
			<button class="valid-form">Modifier !</button>
			{{ form_end(weaponForm)}}
		</div>
	{% endif %}
{% endblock %}
