{% extends 'base.html.twig' %}

{% block title %}
	Creation |
	{{parent()}}
{% endblock %}

{% block body %}
	<div class="container">
		{{ form_start(personnageForm) }}
		<div>
			<h3 class="title-form">Personnage</h3>
		</div>
		<div class="row">
			<div class="col-md-3 div-form">{{ form_label(personnageForm.nom) }}
				<br>
				{{ form_widget(personnageForm.nom) }}
			</div>
			<div class="col-md-3 div-form">{{ form_label(personnageForm.niveau) }}
				<br>
				{{ form_widget(personnageForm.niveau) }}
			</div>
			<div class="col-md-3 div-form">{{ form_label(personnageForm.race) }}
				<br>
				{{ form_widget(personnageForm.race) }}
			</div>
			<div class="col-md-3 div-form">{{ form_label(personnageForm.classe) }}
				<br>
				{{ form_widget(personnageForm.classe) }}
			</div>
		</div>
		<div>
			<h3 class="title-form">Statut</h3>
		</div>

		<div class="row">
			<div class="col-md-4 div-form">
				{{ form_label(personnageForm.pvMax) }}
				<br>
				{{ form_widget(personnageForm.pvMax)}}
			</div>
			<div class="col-md-4 div-form">
				{{ form_label(personnageForm.pcMax) }}
				<br>
				{{ form_widget(personnageForm.pcMax)}}
			</div>
			<div class="col-md-4 div-form">
				{{ form_label(personnageForm.pmMax) }}
				<br>
				{{ form_widget(personnageForm.pmMax)}}
			</div>
		</div>

		<div>
			<h3 class="title-form">Statistique</h3>
		</div>
		<div class="row">
			<div class="col-md-4 div-form">
				{{ form_label(personnageForm.constitution) }}
				<br>
				{{ form_widget(personnageForm.constitution)}}
			</div>
			<div class="col-md-4 div-form">
				{{ form_label(personnageForm.laForce) }}
				<br>
				{{ form_widget(personnageForm.laForce)}}
			</div>
			<div class="col-md-4 div-form">
				{{ form_label(personnageForm.dexterite) }}
				<br>
				{{ form_widget(personnageForm.dexterite)}}
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 div-form">
				{{ form_label(personnageForm.intelligence) }}
				<br>
				{{ form_widget(personnageForm.intelligence)}}
			</div>
			<div class="col-md-4 div-form">
				{{ form_label(personnageForm.charisme) }}
				<br>
				{{ form_widget(personnageForm.charisme)}}
			</div>
			<div class="col-md-4 div-form">
				{{ form_label(personnageForm.foi) }}
				<br>
				{{ form_widget(personnageForm.foi)}}
			</div>
		</div>
		<div class="note">
			<p>Note : Les statistique au niveau se dispose de la façon suivante : 1x50, 1x40, 1x30, 3x20</p>
		</div>
		<div>
			<button class="valid-form">Créer</button>
		</div>

		{{ form_end(personnageForm) }}

	</div>
{% endblock %}
