{% extends 'base.html.twig' %}

{% block title %}
	Mon équipement |
	{{parent()}}
{% endblock %}

{% block body %}
	{% set location = "casque"%}
	{% if app.user.id == character.user.id %}
		<div class="container">
			{{ form_start(armorForm)}}

			<div>
				<h3 class="title-form">armor</h3>
			</div>
			<div class="row">
				{% for location in locations %}
					<div class="div-form">
						{{ form_label(attribute(armorForm, location.name|lower)) }}
						{{ form_widget(attribute(armorForm, location.name|lower)) }}

						{{ form_label(attribute(armorForm, "effet_" ~ location.name|lower)) }}
						{{ form_widget(attribute(armorForm, "effet_" ~ location.name|lower)) }}
					</div>
				{% endfor %}
			</div>
			<button class="valid-form">Modifier !</button>
			{{ form_end(armorForm)}}
		</div>
	{% endif %}
{% endblock %}
