{% extends 'base.html.twig' %}

{% block title %}
	Mon équipement |
	{{parent()}}
{% endblock %}

{% block body %}
	{% if app.user.id == personnage.joueur.id %}
		<div class="container">
			{{ form_start(armureForm)}}

			<div>
				<h3 class="title-form">Armure</h3>
			</div>
			<div class="row">
				<div class="col-md-4 div-form">{{ form_label(armureForm.casque) }}
					{{ form_widget(armureForm.casque) }}
					<br><br>
					{{ form_label(armureForm.effet_casque) }}
					{{ form_widget(armureForm.effet_casque) }}
				</div>

				<div class="col-md-4 div-form">{{ form_label(armureForm.plastron) }}
					{{ form_widget(armureForm.plastron) }}
					<br><br>
					{{ form_label(armureForm.effet_plastron) }}
					{{ form_widget(armureForm.effet_plastron) }}
				</div>

				<div class="col-md-4 div-form">{{ form_label(armureForm.jambiere) }}
					{{ form_widget(armureForm.jambiere) }}
					<br><br>
					{{ form_label(armureForm.effet_jambiere) }}
					{{ form_widget(armureForm.effet_jambiere) }}
				</div>
			</div>
			<div>
				<h3 class="title-form">Accessoires</h3>
			</div>

			<div class="row">
				<div class="col-md-3 div-form">{{ form_label(armureForm.anneau) }}
					{{ form_widget(armureForm.anneau) }}
					<br><br>
					{{ form_label(armureForm.effet_anneau) }}
					{{ form_widget(armureForm.effet_anneau) }}
				</div>

				<div class="col-md-3 div-form">{{ form_label(armureForm.amulette) }}
					{{ form_widget(armureForm.amulette) }}
					<br><br>
					{{ form_label(armureForm.effet_amulette) }}
					{{ form_widget(armureForm.effet_amulette) }}
				</div>


				<div class="col-md-3 div-form">{{ form_label(armureForm.cape) }}
					{{ form_widget(armureForm.cape) }}
					<br><br>
					{{ form_label(armureForm.effet_cape) }}
					{{ form_widget(armureForm.effet_cape) }}
				</div>


				<div class="col-md-3 div-form">{{ form_label(armureForm.bouclier) }}
					{{ form_widget(armureForm.bouclier) }}
					<br><br>
					{{ form_label(armureForm.effet_bouclier) }}
					{{ form_widget(armureForm.effet_bouclier) }}
				</div>
			</div>

			<button class="valid-form">Modifier !</button>
			{{ form_end(armureForm)}}
		</div>
	{% endif %}
{% endblock %}
