{% extends 'base.html.twig' %}
{% block title %}
	{{personnage.nom}}
	|
	{{parent()}}
{% endblock %}
{% block style %}
	<link rel="stylesheet" href="{{asset('style/personnage.css')}}">
	<link rel="stylesheet" href="{{asset('style/dropdown.css')}}">
	<link rel="stylesheet" href="{{asset('style/range.css')}}">

{% endblock %}


{% block body %}
	{% if app.user.id == personnage.joueur.id %}
		<div class="container">
			<div class="row">
				<div class="img-div">
					<div>
						<img src="{{asset('image_personnage/'~ personnage.image)}}" alt="" height="200">
					</div>
					<a href="{{ path("personnage_change_image", {'id' : personnage.id})}}">Changer d'image</a>
				</div>
				<div class="div-detail-personnage">

					<h1>{{ personnage.nom }}</h1>
					<h3>{{ personnage.race.nom }}</h3>
					<h3>{{ personnage.classe.nom }}</h3>
					<h3>Niveau
						{{ personnage.niveau }}</h3>
					<a href="{{ path("equipe_list", {"idEquipe" :personnage.equipe.id})}}">{{personnage.equipe.nom}}</a>
				</div>
				<div class="div-lore">
					<div class="dropdown">
						<button class="dropbtn">Lore
							<img src="{{ asset('img/list.png')}}" alt="" class="drop-logo" height="10"></button>
						<div class=" hidden dropdown-content">
							<textarea name="" cols="50" readonly>{{ personnage.lore }}</textarea>
						</div>
						<a href="{{ path("personnage_modif_lore", {"id" :personnage.id}) }}" id="lore-link">Modifier le lore</a>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="div-statistique">
					<div class="statistique">
						<p class="label">Intelligence :</p>
						<div class="statistique-valeur">
							<p>{{ personnage.intelligence }}</p>
						</div>
					</div>
					<div class="statistique">
						<p class="label">Charisme :</p>
						<div class="statistique-valeur">
							<p>{{ personnage.charisme }}</p>
						</div>
					</div>
					<div class="statistique">
						<p class="label">Foi :</p>
						<div class="statistique-valeur">
							<p>{{ personnage.foi }}</p>
						</div>
					</div>
					<div class="statistique">
						<p class="label">Constitution:</p>
						<div class="statistique-valeur">
							<p>{{ personnage.constitution }}</p>
						</div>
					</div>
					<div class="statistique">
						<p class="label">Force :</p>
						<div class="statistique-valeur">
							<p>{{ personnage.laForce }}</p>
						</div>
					</div>
					<div class="statistique">
						<p class="label">Dextérite :</p>
						<div class="statistique-valeur">
							<p>{{ personnage.dexterite }}</p>
						</div>
					</div>
				</div>
				<div class="div-statut">
					<div>
						<a href="{{path("personnage_level_up", {"id" :personnage.id})}}">Level up !</a>
					</div>
					{{ form_start(statForm) }}
					<div
						class="statut" id="vie">
						<!-- ~~~~~~ vie valeur numerique ~~~~~~ -->
						<label for="pv" class="label label-statut">
							PV
						</label>
						<input type="integer" class="numerique" id="{{ field_name(statForm.pv) }}" name="{{ field_name(statForm.pv) }}" value="{{personnage.pv}}" readonly>
						<span class="max">/
							{{personnage.pvMax}}
						</span>

						<!-- ~~~~~~ bar de vie ~~~~~~ -->
						<input type="range" class="bar" id="pv-range" min="0" , max="{{personnage.pvMax}}" value="{{personnage.pv}}" disabled>

						<input type="integer" class="input-enabled ajout" placeholder="+">
						<input type="integer" class="input-enabled soustrait" placeholder="-">
					</div>

					<div
						class="statut" id="mana">

						<!-- ~~~~~~ mana valeur numerique ~~~~~~ -->
						<label for="pm" class="label label-statut">PM</label>
						<input type="integer" class="numerique" id="{{ field_name(statForm.pm) }}" name="{{ field_name(statForm.pm) }}" value="{{personnage.pm}}" readonly>

						<span class="max">/
							{{personnage.pmMax}}</span>

						<!-- ~~~~~~ bar de mana ~~~~~~ -->
						<input type="range" class="bar" id="pm-range" min="0" , max="{{personnage.pmMax}}" value="{{personnage.pm}}" disabled>

						<input type="integer" class="input-enabled ajout" placeholder="+">
						<input type="integer" class="input-enabled soustrait" placeholder="-">
					</div>
					<div
						class="statut">

						<!-- ~~~~~~ mana valeur numerique ~~~~~~ -->
						<label for="pc" class="label label-statut">PC
						</label>
						<input type="integer" class="numerique" id="{{ field_name(statForm.pc) }}" name="{{ field_name(statForm.pc) }}" value="{{personnage.pc}}" readonly>

						<span class="max">/
							{{personnage.pcMax}}</span>

						<!-- ~~~~~~ bar de mana ~~~~~~ -->
						<input type="range" class="bar" id="pc-range" min="0" , max="{{personnage.pcMax}}" value="{{personnage.pc}}" disabled>

						<input type="integer" class="input-enabled ajout" placeholder="+">
						<input type="integer" class="input-enabled soustrait" placeholder="-">
					</div>
					{{ form_end(statForm) }}
				</div>
			</div>
			<div class="row">
				<div class="inventaire-form">
					{{ form_start(inventaireForm) }}
					<div>
						<div class="label label-form">
							{{ form_label(inventaireForm.inventaire) }}
						</div>
						{{ form_widget(inventaireForm.inventaire) }}
					</div>

					<div class="div-sauvegarde">
						<div class="label label-form">
							{{ form_label(inventaireForm.po	) }}
						</div>
						{{ form_widget(inventaireForm.po) }}
					</div>

					{{ form_end(inventaireForm) }}
				</div>
			</div>

		</div>
		<div class="container">
			<select name="" id="stat">
				<option value="{{personnage.constitution}}">Constitution</option>
				<option value="{{personnage.laForce}}">Force</option>
				<option value="{{personnage.dexterite}}">Dextérité</option>
				<option value="{{personnage.intelligence}}">Intelligence</option>
				<option value="{{personnage.charisme}}">Charisme</option>
				<option value="{{personnage.foi}}">Foi</option>
			</select>

			<select name="" id="ca">
				<option value="0">0</option>
				<option value="5">3 (-5)</option>
				<option value="10">5 (-10)</option>
				<option value="15">7 (-15)</option>
				<option value="20">10 (-20)</option>
				<option value="25">12 (-25)</option>
				<option value="30">15 (-30)</option>
				<option value="35">17 (-35)</option>
				<option value="50">17+ (-50)</option>
			</select>
			<button id="de">Test !</button>
			<div id="result"></div>
		</div>

		<div class="container">
			<div class="row">
				<div>
					<div>
						<div>
							<a href="{{ path("personnage_modif_armure", {"id" : personnage.id}) }}" class="titre-table">
								<h2>Armure</h2>
							</a>
						</div>
					</div>
					{% set ca = 0 %}
					<table class="tableau">
						<tr>
							<th>Pièce</th>
							<th>Type</th>
							<th>CA</th>
							<th>Effet</th>
						</tr>
						{% for pieceArmure in armure %}
							{% set ca = ca + pieceArmure.piece.valeur %}
							<tr>
								<th>{{ pieceArmure.piece.localisation.nom }}</th>
								<th>{{ pieceArmure.piece.type.nom }}</th>
								<th>{{ pieceArmure.piece.valeur }}</th>
								<th>{{ pieceArmure.effet }}</th>
							</tr>
						{% endfor %}
						<tr>
							<th>Total :</th>
							<th></th>
							<th>{{ca}}</th>
						</tr>
					</table>
				</div>

				<div>
					<div>
						<a href="{{ path("personnage_modif_arme", {"id" : personnage.id}) }}" class="titre-table">

							<h2>Arme</h2>
						</a>
					</div>

					<div>
						<table class="tableau">

							<tr>
								<th>Arme</th>
								<th>Dégats</th>
								<th>Dé</th>
								<th>Effet</th>
							</tr>
							{% for arme in armes %}
								<tr>
									<th>{{ arme.arme.nom }}</th>
									<th>{{ arme.arme.degats }}</th>
									<th>{{ arme.arme.de }}</th>
									<th>{{ arme.effet }}</th>
								</tr>
							{% endfor %}
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<h2>Compétences</h2>
			</div>
		</div>
		<div class="container">
			<div class="div-competence">
				{% for competence in competences %}
					<div class="competence">
						<div class="dropdown">
							<button class="dropbtn">
								{{competence.nom}}
								,
								{{competence.cout}}
								<img src="{{ asset('img/list.png')}}" alt="" class="drop-logo" height="10"></button>
							<div class="hidden dropdown-content">
								<textarea readonly>{{ competence.description }}</textarea>
								{# <p class="content"></p> #}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	{% else %}
		<p>Désolé accès interdit</p>
	{% endif %}

{% endblock %}

{% block script %}
	<script src="{{asset('script/dropdown.js')}}"></script>
	<script src="{{asset('script/bar.js')}}"></script>
	<script src="{{asset('script/de.js')}}"></script>
{% endblock %}
