{% extends 'base.html.twig' %}

{% block title %}Hello PersonnageController!{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{asset('style/personnage.css')}}">
<link rel="stylesheet" href="{{asset('style/dropdown.css')}}">

{% endblock %}
{% block body %}
<div class="info container grid-container">
        <div class="row">
            <div class="col-md-3">
                <div class="img"></div>
            </div>
            <div class="col-md-3">                
                <h1 id="nom">{{ personnage.nom }}</h1>
                <h3>{{ personnage.race.nom }}</h3>
                <h3>{{ personnage.classe.nom }}</h3>
                <h3>Niveau {{ personnage.niveau }}</h3>
            </div>
            <div class="col-md-6">

                <div class="dropdown" id="lore">
                    <button class="dropbtn">Lore  <img src="{{ asset('img/list.png')}}" alt="" class="drop-logo" height="10"></button>
                    <div class="dropdown-content">
                        <p>{{ personnage.lore }}</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus facilis veniam quos porro necessitatibus accusamus id suscipit sunt doloremque, ipsum laborum est delectus consequuntur corrupti eius corporis blanditiis dolorem nobis!</p>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <p class="comp">Constitution :</p>
                <div class="circle">
                    <p>{{ personnage.constitution }}</p>
                </div>
            </div>
            <div class="col-md-2">
                <p class="comp">Force :</p>
                <div class="circle">
                    <p>{{ personnage.force }}</p>
                </div>
            </div>
            <div class="col-md-2">
                <p class="comp">Dexterite :</p>
                <div class="circle">
                    <p>{{ personnage.dexterite }}</p>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-2">
                <p class="comp">Intelligence :</p>
                <div class="circle">
                    <p>{{ personnage.intelligence }}</p>
                </div>
            </div>
            <div class="col-md-2">
                <p class="comp">Charisme :</p>
                <div class="circle">
                    <p>{{ personnage.charisme }}</p>
                </div>
            </div>
            <div class="col-md-2">
                <p class="comp">Foi :</p>
                <div class="circle">
                    <p>{{ personnage.foi }}</p>
                </div>
            </div>
           
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{{asset('script/dropdown.js')}}"></script>
{% endblock %}