{% extends 'base.html.twig' %}

{% block title %} Mes Personnages | {{parent()}}{% endblock %}

{% block body %}
    <h2>Fiches personnages</h2>
    <ul>
    {% for character in characters %}
        <li>
            <a href="{{ path("character_view", {"id" : character.id}) }}">{{ character.name }}</a>
        </li>
    {% endfor %}
    </ul>
        <hr/>
        <a href="{{ path("create_character")}}"><img src="{{asset("img/list.png")}}" alt="" height="10">Nouveau personnage</a>

{% endblock %}
