{% extends 'base.html.twig' %}

{% block title %} Mes Personnages | {{parent()}}{% endblock %}

{% block body %}
    <h2>Fiches personnages</h2>
    <ul>
    {% for personnage in personnages %}
        <li>
            <a href="{{ path("personnage_view", {"id" : personnage.id}) }}">{{ personnage.nom }}</a>
        </li>
    {% endfor %}
    </ul>
        <hr/>
        <a href="{{ path("personnage_create")}}"><img src="{{asset("img/list.png")}}" alt="" height="10">Nouveau personnage</a>

{% endblock %}
