{% set requestAttribute = app.request.attributes.get("_route") %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta property="og:type" content="website">
		<meta name="description" content="{% block description %}Venez jouer au jeu de rôle Guintuaris, Créez vos personnages et vivez des histoires uniques !{% endblock %}">
		<meta property="og:title" content="{% block og_title %}Guintuaris{% endblock %}">
		<meta property="og:description" content="{% block og_description %}Venez jouer au jeu de rôle Guintuaris, Créez vos personnages et vivez des histoires uniques !{% endblock %}">
		<meta name="author" content="Alexandre Baudry">

		<title>
			{% block title %}Guintuaris{% endblock %}
		</title>
		<link rel="icon" href="{{ asset('img/icon.png')}}">
		<link rel="stylesheet" href="{{ asset('style/main.css')}}"> 
		<link rel="stylesheet" href="{{ asset('style/icons.css')}}">
		{% block style %}{% endblock %}
	</head>
	<body>
		{% include("inc/nav.html.twig") %}

		<main>
			{% block body %}{% endblock %}
			{% block navside %}
				{% if navsideDisplay is defined and navsideDisplay == true %}
					{% include("inc/navside.html.twig") %}
				{% endif %}
			{% endblock %}
		</main>

		<footer>
			<p>©<span>Guintuaris</span>{{ "now"|date("Y")}}
				<a title="Ester egg" href="{{ path("main_egg") }}">.</a>
			</p>
		</footer>
		
	    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script src="{{asset("script/nav.js")}}"></script>
		{% block script %}{% endblock %}
	</body>
</html>
