{% extends 'base.html.twig' %}

{% block title %}{{(requestAttribute == "admin_update_creature") ? "Modifier une creature":"Ajouter une créature"}} | {{parent()}} {% endblock %}

{% block body %}
	<div class="container">
		{{ form_start(creatureForm) }}
		<div>
			<h3 class="title-form">Monstre</h3>
		</div>
		<div class="row">
			<div class="div-form">{{ form_label(creatureForm.name) }}
				
				{{ form_widget(creatureForm.name) }}
				<div class="div-errors">
					{{ form_errors(creatureForm.name)}}
				</div>
			</div>

			<div class="div-form">{{ form_label(creatureForm.level) }}
				
				{{ form_widget(creatureForm.level) }}
				<div class="div-errors">
					{{ form_errors(creatureForm.level)}}
				</div>
			</div>
			<div class="div-form">{{ form_label(creatureForm.type) }}
				
				{{ form_widget(creatureForm.type) }}
			</div>

			<div class="div-form">
				{{ form_widget(creatureForm.tameable) }}
				<label class="checkbox-label" for="{{creatureForm.tameable.vars.id }}">
					{{creatureForm.tameable.vars.label }} <br>
                    <span class="checkbox-button"></span>
                </label>
			</div>
		</div>
		<div>
			<h3 class="title-form">Statut</h3>
		</div>
		<div class="row">
			<div class="div-form">{{ form_label(creatureForm.pvMax) }}
				
				{{ form_widget(creatureForm.pvMax) }}
				<div class="div-errors">
					{{ form_errors(creatureForm.pvMax)}}
				</div>
			</div>
			<div class="div-form">{{ form_label(creatureForm.pmMax) }}
				
				{{ form_widget(creatureForm.pmMax) }}
				<div class="div-errors">
					{{ form_errors(creatureForm.pcMax)}}
				</div>
			</div>
			<div class="div-form">{{ form_label(creatureForm.pcMax) }}
				
				{{ form_widget(creatureForm.pcMax) }}
				<div class="div-errors">
					{{ form_errors(creatureForm.pmMax)}}
				</div>
			</div>
		</div>
        <div>
			<h3 class="title-form">Resistance</h3>
		</div>

        <div class="row-around">
            <div class="div-form">
                {{ form_label(creatureForm.physicalAbsorption) }}

                {{ form_widget(creatureForm.physicalAbsorption)}}
                <div class="div-errors">
                    {{ form_errors(creatureForm.physicalAbsorption)}}
                </div>
            </div>
            <div class="div-form">
                {{ form_label(creatureForm.magicalAbsorption) }}

                {{ form_widget(creatureForm.magicalAbsorption)}}
                <div class="div-errors">
                    {{ form_errors(creatureForm.magicalAbsorption)}}
                </div>
            </div>
        </div>

		<div>
			<h3 class="title-form">Statistiques</h3>
		</div>
		<div class="row">
			<div class="div-form">{{ form_label(creatureForm.constitution) }}
				
				{{ form_widget(creatureForm.constitution) }}
				<div class="div-errors">
					{{ form_errors(creatureForm.constitution)}}
				</div>
			</div>
			<div class="div-form">{{ form_label(creatureForm.strength) }}
				
				{{ form_widget(creatureForm.strength) }}
				<div class="div-errors">
					{{ form_errors(creatureForm.strength)}}
				</div>
			</div>
			<div class="div-form">{{ form_label(creatureForm.dexterity) }}
				
				{{ form_widget(creatureForm.dexterity) }}
				<div class="div-errors">
					{{ form_errors(creatureForm.dexterity)}}
				</div>
			</div>

		</div>
		<div class="row">
			<div class="div-form">{{ form_label(creatureForm.intelligence) }}
				
				{{ form_widget(creatureForm.intelligence) }}
				<div class="div-errors">
					{{ form_errors(creatureForm.intelligence)}}
				</div>
			</div>
			<div class="div-form">{{ form_label(creatureForm.charisma) }}
				
				{{ form_widget(creatureForm.charisma) }}
				<div class="div-errors">
					{{ form_errors(creatureForm.charisma)}}
				</div>
			</div>
			<div class="div-form">{{ form_label(creatureForm.faith) }}
				
				{{ form_widget(creatureForm.faith) }}
				<div class="div-errors">
					{{ form_errors(creatureForm.faith)}}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="textarea-form">
				<h3 class="title-form">
					{{ form_label(creatureForm.note) }}
				</h3>
				
				{{ form_widget(creatureForm.note) }}
			</div>
		</div>
		<div class="row">
			<div class="textarea-form">
				<h3 class="title-form">
					{{ form_label(creatureForm.description) }}
				</h3>
				
				{{ form_widget(creatureForm.description) }}
			</div>
		</div>
		<button class="valid-form">Valider !</button>
		{{form_end(creatureForm)}}
	</div>
{% endblock %}
