{% extends 'base.html.twig' %}
{% block title %}
	Bestiaire admin|
	{{parent()}}
{% endblock %}

{% block body %}
	<div class="container">
		<h2 class="titre-table">Liste du bestiaire</h2>
		{% for message in app.flashes('success') %}
			<div class="flash success">
				{{ message }}
			</div>
		{% endfor %}
		{% for message in app.flashes('error') %}
			<div class="flash success">
				{{ message }}
			</div>
		{% endfor %}
		<table class="tableau" id="bestiary">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Niveau</th>
					<th>Type</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for creature in creatures %}
					<tr>
						<td class="data-id"> {{creature.id}} </td>
						<td class="data-name"> {{ creature.name }} </td>
						<td> {{ creature.typeName }} </td>
						<td> {{ creature.level }} </td>
						<td>
							<a href="{{ path("admin_update_bestiary", {'bestiaryId' : creature.id}) }}">Modifier</a>
						</td>
						<td>
							<a class="ajax-delete-link alert" href="{{ path("admin_delete_bestiary", {'bestiaryId' : creature.id}) }}">Supprimer</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="navside-container">
		<div class="div-show-navside show">
			<a href="" id="show-navside">Navigation</a>
		</div>
		<div class="navside navside-hidden">
			<a class="link" href="{{ path('admin_home')}}">Retour</a>
			<a class="link" href="{{ path("admin_add_bestiary")}}">Creer une bête</a>
			<a class="link" href="{{ path('admin_bestiary_type_list')}}">Ajouter un Type au bestiaire</a>
		</div>
	</div>
{% endblock %}

{% block script %}
	<script src="{{ asset("script/delete.js")}}"></script>
{% endblock %}