{% extends 'base.html.twig' %}
{% block title %}
	Bestiaire admin|
	{{parent()}}
{% endblock %}

{% block body %}
	<h2>Liste du bestiaire</h2>
	<div class="container">
		{% for message in app.flashes('success') %}
			<div class="flash success">
				{{ message }}
			</div>
		{% endfor %}
		{% for message in app.flashes('error') %}
			<div class="flash success">
				{{ message }}
			</div>
		{% endfor %}
    <div class="">
        <a href="{{ path("admin_add_bestiary")}}">Creer une bête</a>
    </div>
		<table class="tableau" id="bestiary">
			<tr>
				<th>Id</th>
				<th>Name</th>
                <th>Niveau</th>
                <th>Type</th>
                <th></th>
                <th></th>
			</tr>
			{% for creature in creatures %}
				<tr>
					<th class="data-id"> {{creature.id}} </th>
					<th class="data-name"> {{ creature.name }} </th>
					<th> {{ creature.typeName }} </th>
					<th> {{ creature.level }} </th>
                    <th>
                        <a href="{{ path("admin_update_bestiary", {'bestiaryId' : creature.id}) }}">Modifier</a>
                    </th>
                    <th>
                        <a class="ajax-delete-link alert" href="{{ path("admin_delete_bestiary", {'bestiaryId' : creature.id}) }}">Supprimer</a>
                    </th>
				</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}


{% block script %}
	<script src="{{ asset("script/delete.js")}}"></script>
{% endblock %}