{% extends 'base.html.twig' %}
{% block title %}Liste Bestiaire| {{parent()}}{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="title">Liste du bestiaire</h1>
		{% for message in app.flashes('success') %}
			<div class="flash success">
				{{ message }}
			</div>
		{% endfor %}
		{% for message in app.flashes('error') %}
			<div class="flash success">
				{{ message }}
			</div>
		{% endfor %}
		<button class="default-sort">tri par defaut</button>
		<table class="tableau" id="bestiary">
			<thead>
				<tr>
					<th class="sortable number">Id</th>
					<th class="sortable text">Name</th>
					<th class="sortable number">Niveau</th>
					<th class="sortable text">Type</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for creature in creatures %}
					<tr>
						<td class="data-id"> {{creature.id}} </td>
						<td class="data-name"> {{ creature.name }} </td>
						<td> {{ creature.level }} </td>
						<td> {{ creature.typeName }} </td>
						<td>
							<a title="Modifier la creature {{creature.name}}" href="{{ path("admin_update_bestiary", {'bestiaryId' : creature.id}) }}">Modifier</a>
						</td>
						<td>
							<a title="supprimer la creature {{creature.name}}" class="ajax-delete-link alert" href="{{ path("admin_delete_bestiary", {'bestiaryId' : creature.id}) }}">Supprimer</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="navside-container">
		<div class="div-show-navside show">
			<a href="" id="show-navside">Navigation</a>
		</div>
		<div class="navside navside-hidden">
			<a title="Retour a l'accueil administrateur" class="link" href="{{ path('admin_home')}}">Retour</a>
			<a title="Créer une creature" class="link" href="{{ path("admin_add_bestiary")}}">Creer une creature</a>
			<a title="Liste des types de creature" class="link" href="{{ path('admin_bestiary_type_list')}}">List des type de creature</a>
		</div>
	</div>
{% endblock %}

{% block script %}
    <script src="{{asset('script/tableau.js')}}"></script>
	<script src="{{ asset("script/delete.js")}}"></script>
{% endblock %}