{% extends 'base.html.twig' %}
{% block title %}
	Type de bête |
	{{parent()}}
{% endblock %}

{% block body %}
	<h2 class="titre-table">Type de Bête</h2>
	<div class="div-form-hidden">
		<a id="show-form">Ajouter un Menbre</a>
		{{form_start(form, { "attr" : { "class" : "hidden"}}) }}
			<h3 class="title-form"> {{ form_label(form.name) }} </h3>
			<div class="div-form">
				{{ form_widget(form.name) }}
				<div class="div-errors">
					{{ form_errors(form.name)}}
				</div>
			</div>
			<button class="valid-form">Créer</button>
		{{form_end(form) }}
	</div>
	²<div class="container">
		{% for message in app.flashes('success') %}
			<div class="flash success">
				{{ message }}
			</div>
		{% endfor %}
		{% for message in app.flashes('error') %}
			<div class="flash success">
				{{ message }}
			</div>
		{% endfor %}
		<table class="tableau">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for element in list %}

					<tr>
						<td> {{element.id}} </td>
						<td> {{ element.name }} </td>
						<td>
							<a href="{{path("admin_bestiary_type_rename", {typeId : element.id})}}" class="update-link">modifier</a>
						</td>
					</tr>
						
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="navside-container">
		<div class="div-show-navside show">
			<a href="" id="show-navside">Navigation</a>
		</div>
		<div class="navside navside-hidden">
			<a href="{{ path('admin_home')}}"><img src="{{asset("img/list.png")}}" alt="" height="10">Retour</a>
			<a href="{{ path("admin_add_bestiary")}}"><img src="{{asset("img/list.png")}}" alt="" height="10">Creer une bête</a>
			<a href="{{ path('admin_bestiary_list')}}"><img src="{{asset("img/list.png")}}" alt="" height="10">bestiaire</a>
		</div>
	</div>
{% endblock %}

{% block script %}
	<script src="{{ asset("script/delete.js")}}"></script>
{% endblock %}