{% extends 'base.html.twig' %}
{% block title %}Types au Bestiaire |{{parent()}}{% endblock %}

{% block body %}
	<h1 class="title">Types de Bête</h1>
	<div class="div-form-hidden">
		<a id="show-form">Ajouter un type</a>
		{{form_start(form, { "attr" : { "class" : "hidden"}}) }}
			<h3 class="title-form"> {{ form_label(form.name) }} </h3>
			<div class="div-form">
				{{ form_widget(form.name) }}
				<div class="div-errors">
					{{ form_errors(form.name)}}
				</div>
			</div>
			<button class="valid-form">Créer !</button>
		{{form_end(form) }}
	</div>
	<div class="container">
		{% for message in app.flashes('success') %}
			<div class="flash success">
				{{ message }}
			</div>
		{% endfor %}
		{% for message in app.flashes('error') %}
			<div class="flash success">
				{{ message }}
			</div>
		{% endfor %}
		<button class="default-sort">Tri par defaut</button>
		<table class="tableau">
			<thead>
				<tr>
					<th class="sortable number">Id</th>
					<th class="sortable text">Nom</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for element in list %}

					<tr>
						<td> {{element.id}} </td>
						<td> {{ element.name }} </td>
						<td>
							<a href="{{path("admin_bestiary_type_rename", {typeId : element.id})}}" class="update-link">modifier</a>
						</td>
					</tr>
						
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}

{% block navside %}
	{% set navsideDisplay = true %}
	{% set navsideLinks = [
		jsonLinks.returnAdmin,
		jsonLinks.createCreature,
		jsonLinks.creature,
	]%}
	{{parent()}}
{% endblock %}
