{% extends 'base.html.twig' %}
{% block title %}
	Type de bête |
	{{parent()}}
{% endblock %}

{% block body %}
	<h2>Type de Bête</h2>
	<div class="container">
		{% for message in app.flashes('success') %}
			<div class="flash success">
				{{ message }}
			</div>
		{% endfor %}
		{% for message in app.flashes('error') %}
			<div class="flash success">
				{{ message }}
			</div>
		{% endfor %}
		<table class="tableau">
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th></th>
			</tr>
			{% for element in list %}

				<tr>
					<th> {{element.id}} </th>
					<th> {{ element.name }} </th>
					<th>
                        <a href="{{path("admin_bestiary_type_rename", {typeId : element.id})}}" class="update-link">modifier</a>
					</th>
				</tr>
					
			{% endfor %}
		</table>
	</div>
	<div class="div-form-hidden">
		<a id="show-form">Ajouter un Menbre</a>
		{{form_start(form, { "attr" : { "class" : "hidden"}}) }}
			<h3 class="title-form"> {{ form_label(form.name) }} </h3>
			<div class="div-form">
				{{ form_widget(form.name) }}
				<div class="div-errors">
					{{ form_errors(form.name)}}
				</div>
			</div>
			<button class="valid-form">Créer</button>
		{{form_end(form) }}
	</div>
{% endblock %}

{% block script %}
	<script src="{{ asset("script/delete.js")}}"></script>
{% endblock %}