{% extends 'base.html.twig' %}

{% block title %}{{(requestAttribute == "admin_update_weapon") ? "Modifier une arme":"Ajouter une arme"}} | {{parent()}} {% endblock %}

{% block body %}
	<div class="container">
		{{ form_start(weaponForm) }}
		<div>
			<h3 class="title-form">Arme</h3>
			<div class="row">
				<div class="div-form">{{ form_label(weaponForm.name) }}
					
					{{ form_widget(weaponForm.name) }}
					<div class="div-errors">
						{{ form_errors(weaponForm.name)}}
					</div>
				</div>
				<div class="div-form">{{ form_label(weaponForm.damage) }}
					
					{{ form_widget(weaponForm.damage) }}
					<div class="div-errors">
						{{ form_errors(weaponForm.damage)}}
					</div>
				</div>
				<div class="div-form">{{ form_label(weaponForm.dice) }}
					
					{{ form_widget(weaponForm.dice) }}
					<div class="div-errors">
						{{ form_errors(weaponForm.dice)}}
					</div>
				</div>
			</div>
		</div>

		<button class="valid-form">Valider !</button>
		{{form_end(weaponForm)}}
	</div>
{% endblock %}
