{% extends 'base.html.twig' %}
{% block title %}
	Armes admin|
	{{parent()}}
{% endblock %}

{% block body %}
	<h2>Armes</h2>
	<div class="container">
    <div class="">
        <a href="{{ path("admin_add_weapon")}}">Creer une Nouvelle arme</a>
    </div>
		<table class="tableau" id="weapon">
			<tr>
				<th>Id</th>
				<th>Name</th>
                <th>Dégats</th>
                <th>Dé</th>
                <th></th>
                <th></th>
			</tr>
			{% for weapon in weapons %}
				<tr>
					<th class="data-id"> {{weapon.id}} </th>
					<th class="data-name"> {{ weapon.name }} </th>
					<th> {{ weapon.damage }} </th>
					<th> {{ weapon.dice }} </th>
                    <th>
                        <a href="{{ path("admin_update_weapon", {'weaponId' : weapon.id}) }}">Modifier</a>
                    </th>
                    <th>
                        <a class="ajax-delete-link alert" href="{{ path("admin_delete_weapon", {'weaponId' : weapon.id}) }}">Supprimer</a>
                    </th>
				</tr>	
			{% endfor %}
		</table>
	</div>
{% endblock %}


{% block script %}
	<script src="{{ asset("script/delete.js")}}"></script>
{% endblock %}