{% extends 'base.html.twig' %}
{% block title %}
	Armes admin|
	{{parent()}}
{% endblock %}

{% block body %}
	<h2>Armes</h2>
	<div class="container">
		{% for message in app.flashes('success') %}
			<div class="flash success">
				{{ message }}
			</div>
		{% endfor %}
    <div class="">
        <a href="{{ path("admin_add_weapon")}}">Creer une Nouvelle arme</a>
    </div>
		<table class="tableau" id="weapon">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Dégats</th>
					<th>Dé</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for weapon in weapons %}
					<tr>
						<td class="data-id"> {{weapon.id}} </td>
						<td class="data-name"> {{ weapon.name }} </td>
						<td> {{ weapon.damage }} </td>
						<td> {{ weapon.dice }} </td>
						<td>
							<a href="{{ path("admin_update_weapon", {'weaponId' : weapon.id}) }}">Modifier</a>
						</td>
						<td>
							<a class="ajax-delete-link alert" href="{{ path("admin_delete_weapon", {'weaponId' : weapon.id}) }}">Supprimer</a>
						</td>
					</tr>	
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}


{% block script %}
	<script src="{{ asset("script/delete.js")}}"></script>
{% endblock %}