{% extends 'base.html.twig' %}
{% block title %} Armes | {{parent()}}{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="title">Armes</h1>
		{% for message in app.flashes('success') %}
			<div class="flash success">
				{{ message }}
			</div>
		{% endfor %}
		<button class="default-sort">Tri par defaut</button>
		<table class="tableau" id="weapon">
			<thead>
				<tr>
					<th class="sortable number">Id</th>
					<th class="sortable text">Nom</th>
					<th class="sortable number">Dégats</th>
					<th class="sortable text">Dé</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for weapon in weapons %}
					<tr>
						<td class="data-id"> {{weapon.id}} </td>
						<td class="data-name"> {{ weapon.name }} </td>
						<td> {{ weapon.damage }} </td>
						<td> {{ weapon.dice }} </td>
						<td>
							<a title="Modifier l'arme {{weapon.name}}" href="{{ path("admin_update_weapon", {'weaponId' : weapon.id}) }}">Modifier</a>
						</td>
						<td>
							<a title="Supprimmer l'arme {{weapon.name}}" class="ajax-delete-link alert" href="{{ path("admin_delete_weapon", {'weaponId' : weapon.id}) }}">Supprimer</a>
						</td>
					</tr>	
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}

{% block navside %}
	{% set navsideDisplay = true %}
	{% set navsideLinks = [
		jsonLinks.returnAdmin,
		jsonLinks.createWeapon,
		jsonLinks.armorTypes,
		jsonLinks.armorLocation,
		jsonLinks.armorPiece
	]%}
	{{parent()}}
{% endblock %}

{% block script %}
    <script src="{{asset('script/tableau.js')}}"></script>
	<script src="{{ asset("script/delete.js")}}"></script>
{% endblock %}