{% extends 'base.html.twig' %}

{% block title %}
	{{classe.name}}
	|
	{{parent()}}
{% endblock %}

{% block style %}
	<link rel="stylesheet" href="{{asset('style/dropdown.css')}}">
{% endblock %}

{% block body %}
	<h1>
		{{classe.name}}
	</h1>

	<h2>Description</h2>
	<p>{{ classe.description}}</p>

	<h2>Dé de niveau</h2>
	<p>{{ classe.dicePv}}</p>
	<p>{{ classe.dicePc}}</p>
	<p>{{ classe.dicePm}}</p>

	<div class="container">
		<h2 id="title">Compétences</h2>
	</div>
	<div class="container">
		<div class="div-competence">
			{% for skill in skills %}
				<div class="competence">
					<div class="dropdown">
						<button class="dropbtn">
							{{skill.name}}
							,
							{{skill.cost}}
							<img src="{{ asset('img/list.png')}}" alt="" class="drop-logo" height="10"></button>
						<div class="hidden dropdown-content">
							<textarea readonly>{{ skill.description }}</textarea>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>


{% endblock %}

{% block script %}
	<script src="{{asset('script/dropdown.js')}}"></script>
{% endblock %}
