{% extends 'base.html.twig' %}

{% block title %}{{race.nom}} | {{parent()}}{% endblock %}

{% block body %}
    <h1>
        {{race.nom}}
    </h1>

    <h2>Description</h2>
    <p>{{ race.description}}</p>

    <h2>Aptitude</h2>
    <p>{{ race.aptitude}}</p>

    <h2>Bonus</h2>
    <p>{{ race.bonus}}</p>
{% endblock %}
