{% extends 'base.html.twig' %}
{% block title %}Compétences | {{parent()}}
{% endblock %}

{% block body %}
	<h1 class="title">Competences</h1>
	<div class="container">
		{% for message in app.flashes('success') %}
			<div class="flash success">
				{{ message }}
			</div>
		{% endfor %}
		<button class="default-sort">Tri par defaut</button>
		<table class="tableau" id="skill">
			<thead>
				<tr>
					<th class="sortable number">Id</th>
					<th class="sortable text">Nom</th>
					<th class="sortable text">Classe</th>
					<th class="sortable number">Niveau</th>
					<th>Coût</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for skill in skills %}
					<tr>
						<td class="data-id"> {{skill.id}} </td>
						<td class="data-name"> {{ skill.name }} </td>
						<td> {{ skill.className }} </td>
						<td> {{ skill.level }} </td>
						<td> {{ skill.cost }} </td>
						<td>
							<a href="{{ path("admin_update_skill", {'skillId' : skill.id}) }}">Modifier</a>
						</td>
						<td>
							<a class="ajax-delete-link alert" href="{{ path("admin_delete_skill", {'skillId' : skill.id}) }}">Supprimer</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}

{% block navside %}
	{% set navsideDisplay = true %}
	{% set navsideLinks = [
		jsonLinks.returnAdmin,
		jsonLinks.createSkill,
		jsonLinks.classes,
		jsonLinks.races,
	]%}
	{{parent()}}
{% endblock %}

{% block script %}
	    <script src="{{asset('script/tableau.js')}}"></script>
	<script src="{{ asset("script/delete.js")}}"></script>
{% endblock %}