{% extends 'base.html.twig' %}
{% block title %}
	Les équipes |
	{{parent()}}
{% endblock %}

{% block body %}
	<h2>Fiches personnages</h2>
	<div class="container">
    <div class="">
        <a href="{{ path("admin_add_skill")}}">Creer une Nouvelle Competence</a>
    </div>
		<table class="tableau" id="skill">
			<tr>
				<th>Id</th>
				<th>Name</th>
                <th>Classe</th>
                <th>Niveau</th>
                <th>Coût</th>
                <th></th>
                <th></th>
			</tr>
			{% for skill in skills %}

				<tr>
					<th> {{skill.id}} </th>
					<th> {{ skill.name }} </th>
					<th> {{ skill.className }} </th>
					<th> {{ skill.level }} </th>
					<th> {{ skill.cost }} </th>
                    <th>
                        <a href="{{ path("admin_update_skill", {'skillId' : skill.id}) }}">Modifier</a>
                    </th>
                    <th>
                        <a class="ajax-delete-link alert" href="{{ path("admin_delete_skill", {'skillId' : skill.id}) }}">Supprimer</a>
                    </th>
				</tr>
					
			{% endfor %}
		</table>
	</div>
{% endblock %}


{% block script %}
	<script src="{{ asset("script/delete.js")}}"></script>
{% endblock %}