{% extends 'base.html.twig' %}
{% block title %}Compétences | {{parent()}}
{% endblock %}

{% block body %}
	<h2 class="titre-table">Competences</h2>
	<div class="container">
		{% for message in app.flashes('success') %}
			<div class="flash success">
				{{ message }}
			</div>
		{% endfor %}
    <div class="">
    </div>
		<table class="tableau" id="skill">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Classe</th>
					<th>Niveau</th>
					<th>Coût</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for skill in skills %}
					<tr>
						<td class="data-id"> {{skill.id}} </td>
						<td class="data-name"> {{ skill.name }} </td>
						<td> {{ skill.className }} </td>
						<td> {{ skill.level }} </td>
						<td> {{ skill.cost }} </td>
						<td>
							<a href="{{ path("admin_update_skill", {'skillId' : skill.id}) }}">Modifier</a>
						</td>
						<td>
							<a class="ajax-delete-link alert" href="{{ path("admin_delete_skill", {'skillId' : skill.id}) }}">Supprimer</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="navside-container">
		<div class="div-show-navside show">
			<a href="" id="show-navside">Navigation</a>
		</div>
		<div class="navside navside-hidden">
			<a title="Retour a l'accueil administrateur" class="link" href="{{ path('admin_home')}}">Retour</a>
        	<a title="Créer un nouvelle competence" class="link" href="{{ path("admin_add_skill")}}">Creer une Nouvelle Competence</a>
			<a title="Liste des Races" class="link" href="{{ path('admin_race_list')}}">Race</a>
			<a title="Liste des Classes" class="link" href="{{ path('admin_class_list')}}">classes</a>

		</div>
	</div>
{% endblock %}


{% block script %}
	<script src="{{ asset("script/delete.js")}}"></script>
{% endblock %}