{% extends 'base.html.twig' %}
{% block title %}
	Competence admin|
	{{parent()}}
{% endblock %}

{% block body %}
	<h2>Competences</h2>
	<div class="container">
		{% for message in app.flashes('success') %}
			<div class="flash success">
				{{ message }}
			</div>
		{% endfor %}
    <div class="">
        <a href="{{ path("admin_add_skill")}}">Creer une Nouvelle Competence</a>
    </div>
		<table class="tableau" id="skill">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Classe</th>
					<th>Niveau</th>
					<th>Coût</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for skill in skills %}
					<tr>
						<td class="data-id"> {{skill.id}} </td>
						<td class="data-name"> {{ skill.name }} </td>
						<td> {{ skill.className }} </td>
						<td> {{ skill.level }} </td>
						<td> {{ skill.cost }} </td>
						<td>
							<a href="{{ path("admin_update_skill", {'skillId' : skill.id}) }}">Modifier</a>
						</td>
						<td>
							<a class="ajax-delete-link alert" href="{{ path("admin_delete_skill", {'skillId' : skill.id}) }}">Supprimer</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}


{% block script %}
	<script src="{{ asset("script/delete.js")}}"></script>
{% endblock %}