{% extends 'base.html.twig' %}

{% block title %}Mon équipement | {{parent()}}{% endblock %}

{% block body %}
	<div class="container">
		{{ form_start(armorForm)}}

		<div>
			<h3 class="title-form">Armure</h3>
		</div>
		<div id="grid-armor-character">
			{% for location in locations %}
				<div class="div-form">
					{{ form_label(attribute(armorForm, location.varName)) }}
					{{ form_widget(attribute(armorForm, location.varName)) }}
					<div class="div-errors">
						{{ form_errors(attribute(armorForm, location.varName))}}
					</div>

					<div class="other-info">
						{# TODO : caché les champs si enlever est select #}
						{{ form_label(attribute(armorForm, "effet_" ~ location.varName)) }}
						{{ form_widget(attribute(armorForm, "effet_" ~ location.varName)) }}

						<div class="div-errors">
							{{ form_errors(attribute(armorForm, "effet_" ~ location.varName))}}
						</div>
						{{ form_label(attribute(armorForm, "physical_absorption_" ~ location.varName)) }}
						{{ form_widget(attribute(armorForm, "physical_absorption_" ~ location.varName)) }}

						<div class="div-errors">
							{{ form_errors(attribute(armorForm, "physical_absorption_" ~ location.varName))}}
						</div>
						{{ form_label(attribute(armorForm, "magical_absorption_" ~ location.varName)) }}
						{{ form_widget(attribute(armorForm, "magical_absorption_" ~ location.varName)) }}

						<div class="div-errors">
							{{ form_errors(attribute(armorForm, "magical_absorption_" ~ location.varName))}}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
			
		<button class="valid-form">Modifier !</button>
		{{ form_end(armorForm)}}
	</div>
{% endblock %}

{% block script %}
	<script src="{{asset("script/equipment-form.js")}}"></script>

{% endblock %}
