{% extends 'base.html.twig' %}

{% block title %}Mon équipement | {{parent()}}{% endblock %}

{% block body %}
	{% set location = "casque"%}
	<div class="container">
		{{ form_start(armorForm)}}

		<div>
			<h3 class="title-form">Armure</h3>
		</div>
		<div id="grid-armor-character">
			{% for location in locations %}
				<div class="div-form">
					{{ form_label(attribute(armorForm, location.varName)) }}
					{{ form_widget(attribute(armorForm, location.varName)) }}
					<div class="div-errors">
						{{ form_errors(attribute(armorForm, location.varName))}}
					</div>
					{{ form_label(attribute(armorForm, "effet_" ~ location.varName)) }}
					{{ form_widget(attribute(armorForm, "effet_" ~ location.varName)) }}

					<div class="div-errors">
						{{ form_errors(attribute(armorForm, "effet_" ~ location.varName))}}
					</div>
				</div>
			{% endfor %}
		</div>
			
		<button class="valid-form">Modifier !</button>
		{{ form_end(armorForm)}}
	</div>
{% endblock %}
