{% extends 'base.html.twig' %}
{% block title %} {{character.name}} | {{parent()}} {% endblock %}
{% block style %}
	<link rel="stylesheet" href="{{asset('style/personnage.css')}}">
	<link rel="stylesheet" href="{{asset('style/dropdown.css')}}">
	<link rel="stylesheet" href="{{asset('style/range.css')}}">
{% endblock %}


{% block body %}
	<div class="container">
		{% for message in app.flashes('success') %}
			<div class="flash success">
				{{ message }}
			</div>
		{% endfor %}
		<div class="row">
			<div class="img-div">
				<div>
					<img src="{{asset('image_personnage/'~ character.image)}}" alt="" height="200">
				</div>
			</div>
			<div class="div-detail-personnage">

				<h1>{{ character.name }}</h1>
				<h3>{{ character.race.name }}</h3>
				<h3>{{ character.class.name }}</h3>
				<h3>Niveau {{ character.level }}</h3>
				{% if character.team %}
					<a title="Voir les equipier de l'équipe {{character.team.name}}" href="{{ path("team_list", {"teamSlug" : character.team.slug,"teamId" :character.team.id})}}">{{character.team.name}}</a>
				{% endif %}
			</div>
			<div class="div-lore">
				<div class="dropdown">
					<button class="dropbtn">Lore
						<img src="{{ asset('img/list.png')}}" alt="" class="drop-logo" height="10"></button>
					<div class=" hidden dropdown-content">
						<textarea name="" cols="50" readonly>{{ character.lore }}</textarea>
					</div>
					<a title="Modifier le lore de {{character.name}}" href="{{ path("character_update_lore", {"slug" : character.slug, "id" :character.id}) }}" id="lore-link">Modifier le lore</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="div-statistique">
				<div class="statistique">
					<p class="label">Intelligence :</p>
					<div class="statistique-valeur">
						<p>{{ character.intelligence }}</p>
					</div>
				</div>
				<div class="statistique">
					<p class="label">Charisme :</p>
					<div class="statistique-valeur">
						<p>{{ character.charisma }}</p>
					</div>
				</div>
				<div class="statistique">
					<p class="label">Foi :</p>
					<div class="statistique-valeur">
						<p>{{ character.faith }}</p>
					</div>
				</div>
				<div class="statistique">
					<p class="label">Constitution:</p>
					<div class="statistique-valeur">
						<p>{{ character.constitution }}</p>
					</div>
				</div>
				<div class="statistique">
					<p class="label">Force :</p>
					<div class="statistique-valeur">
						<p>{{ character.strength }}</p>
					</div>
				</div>
				<div class="statistique">
					<p class="label">Dextérite :</p>
					<div class="statistique-valeur">
						<p>{{ character.dexterity }}</p>
					</div>
				</div>
			</div>
			<div class="div-statut">
				<div>
					<a title="Metre a jour les statistique de {{character.name}}" href="{{path("character_level_up", {"slug" : character.slug, "id" :character.id})}}">Level up !</a>
				</div>
				<div class="statut">
					<!-- ~~~~~~ vie valeur numerique ~~~~~~ -->
					<label for="pv" class="label label-statut">
						PV
					</label>
					<input type="number" class="numerique ajax" id="pv" name="pv" value="{{character.pv}}" readonly>
					<span class="max">/
						{{character.pvMax}}
					</span>

					<!-- ~~~~~~ bar de vie ~~~~~~ -->
					<input type="range" class="bar" id="pv-range" min="0" , max="{{character.pvMax}}" value="{{character.pv}}" disabled>

					<input type="number" class="input-enabled ajout" placeholder="+">
					<input type="number" class="input-enabled soustrait" placeholder="-">
				</div>

				<div class="statut">

					<!-- ~~~~~~ mana valeur numerique ~~~~~~ -->
					<label for="pm" class="label label-statut">PM</label>
					<input type="number" class="numerique ajax" id="pm" name="pm" value="{{character.pm}}" readonly>

					<span class="max">/
						{{character.pmMax}}</span>

					<!-- ~~~~~~ bar de mana ~~~~~~ -->
					<input type="range" class="bar" id="pm-range" min="0" , max="{{character.pmMax}}" value="{{character.pm}}" disabled>

					<input type="number" class="input-enabled ajout" placeholder="+">
					<input type="number" class="input-enabled soustrait" placeholder="-">
				</div>
				<div class="statut">

					<!-- ~~~~~~ mana valeur numerique ~~~~~~ -->
					<label for="pc" class="label label-statut">PC
					</label>
					<input type="number" class="numerique ajax" id="pc" name="pc" value="{{character.pc}}" readonly>

					<span class="max">/
						{{character.pcMax}}</span>

					<!-- ~~~~~~ bar de mana ~~~~~~ -->
					<input type="range" class="bar" id="pc-range" min="0" , max="{{character.pcMax}}" value="{{character.pc}}" disabled>

					<input type="number" class="input-enabled ajout" placeholder="+">
					<input type="number" class="input-enabled soustrait" placeholder="-">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="inventaire-form">
				<div>
					<div class="label label-form">
						<label for="inventaire">Inventaire</label>
					</div>
					<textarea class="ajax" name="inventaire" id="inventaire" cols="30" rows="10">{{character.inventory}}</textarea>
				</div>

				<div class="div-sauvegarde">
					<div class="label label-form">
						<label for="">Piece d'or</label>
					</div>
					<input class="ajax" type="number" name="po" id="po" value="{{character.gold}}">
				</div>
			</div>
		</div>

	</div>
	<div class="container">
		<select name="" id="select-stat">
			<option value="{{character.constitution}}">Constitution</option>
			<option value="{{character.strength}}">Force</option>
			<option value="{{character.dexterity}}">Dextérité</option>
			<option value="{{character.intelligence}}">Intelligence</option>
			<option value="{{character.charisma}}">Charisme</option>
			<option value="{{character.faith}}">Foi</option>
		</select>

		<select name="" id="ca">
			<option value="0">0</option>
			<option value="5">3 (-5)</option>
			<option value="10">5 (-10)</option>
			<option value="15">7 (-15)</option>
			<option value="20">10 (-20)</option>
			<option value="25">12 (-25)</option>
			<option value="30">15 (-30)</option>
			<option value="35">17 (-35)</option>
			<option value="50">17+ (-50)</option>
		</select>
		<button id="de">Test !</button>
		<div id="result"></div>
	</div>

	<div class="container">
		<div class="row">
			<div>
				<div>
					<div>
						<a title="Change l'equipement de {{character.name}}" href="{{ path("character_update_armor", {"slug" : character.slug, "id" : character.id}) }}" class="titre-table">
							<h2>Armure</h2>
						</a>
					</div>
				</div>
				{% set ca = 0 %}
				<table class="tableau">
					<thead>
						<tr>
							<th>Pièce</th>
							<th>Type</th>
							<th>CA</th>
							<th>Effet</th>
						</tr>
					</thead>
					{% if armor|length > 0 %}
						<tbody>
							{% for armorPiece in armor %}
								{% if armorPiece.piece != null %}
								
									{% set ca = ca + armorPiece.piece.value %}
									<tr>
										<td>{{ armorPiece.piece.location.name }}</td>
										<td>{{ armorPiece.piece.type.name }}</td>
										<td>{{ armorPiece.piece.value }}</td>
										<td>{{ armorPiece.effect }}</td>
									</tr>
								{% endif %}
							{% endfor %}
						</tbody>
					{% endif %}
					<tfoot>
						<tr>
							<th>Total :</th>
							<td></td>
							<td>{{ca}}</td>
						</tr>
					</tfoot>
				</table>
			</div>

			<div>
				<div>
					<a title="Changer les armes de {{character.name}}" href="{{ path("character_update_weapon", {"slug" : character.slug, "id" : character.id}) }}" class="titre-table">

						<h2>Arme</h2>
					</a>
				</div>

				<div>
					<table class="tableau">
						<thead>
							<tr>
								<th>Arme</th>
								<th>Dégats</th>
								<th>Dé</th>
								<th>Effet</th>
							</tr>
						</thead>
						<tbody>
							{% for weapon in weapons %}
								<tr>
								{% if weapon.weapon != null %}
									<td>{{ weapon.weapon.name }}</td>
									<td>{{ weapon.weapon.damage }}</td>
									<td>{{ weapon.weapon.dice }}</td>
									<td>{{ weapon.effect }}</td>
								{% else %}
									<td> Vide </td>
									<td>0</td>
									<td>0</td>
									<td></td>
								{% endif %}
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<h2>Compétences</h2>
		</div>
	</div>
	<div class="container">
		<div class="div-competence">
			{% for skill in skills %}
				<div class="competence">
					<div class="dropdown">
						<button class="dropbtn">
							{{skill.name}}
							,
							{{skill.cost}}
							<img src="{{ asset('img/list.png')}}" alt="" class="drop-logo" height="10"></button>
						<div class="hidden dropdown-content">
							<textarea readonly>{{ skill.description }}</textarea>
							{# <p class="content"></p> #}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="navside-container">
		<div class="div-show-navside show">
			<a href="" id="show-navside">Navigation</a>
		</div>
		<div class="navside navside-hidden">
			<a title="Liste des personnages" class="link" href="{{path("character_list")}} ">Retour</a>
			<a title="Metre a jour l'image de {{character.name}}" class="link" href="{{ path("character_change_image", {"slug" : character.slug, 'id' : character.id})}}">Changer d'image</a>
			<a title="Parametres de {{character.name}}" class="link" href="{{ path('character_setting', {"slug" : character.slug, "id" : character.id}) }}">option</a>
			{% if character.team %}
				<a title="Voir les equipier de l'équipe {{character.team.name}}" class="link" href="{{ path("team_list", {"teamSlug" : character.team.slug,"teamId" :character.team.id})}}">{{character.team.name}}</a>
			{% endif %}
		</div>
	</div>
{% endblock %}

{% block script %}
	<script src="{{asset('script/dropdown.js')}}"></script>
	<script src="{{asset('script/bar.js')}}"></script>
	<script src="{{asset('script/de.js')}}"></script>
	<script src="{{asset('script/personnage.js')}}"></script>
{% endblock %}
