{% extends 'base.html.twig' %}
{% block title %} {{character.name}} | {{parent()}} {% endblock %}
{% block style %}
	<link rel="stylesheet" href="{{asset('style/personnage.css')}}">
	<link rel="stylesheet" href="{{asset('style/dropdown.css')}}">
	<link rel="stylesheet" href="{{asset('style/range.css')}}">
{% endblock %}


{% block body %}
	<div class="container">
		{% for message in app.flashes('success') %}
			<div class="flash success">
				{{ message }}
			</div>
		{% endfor %}
		{% for message in app.flashes('error') %}
			<div class="flash error">
				{{ message }}
			</div>
		{% endfor %}
		<div class="row">
			<div class="img-div">
				<div>
					<img src="{{asset('image_personnage/'~ character.image)}}" alt="" height="200">
				</div>
			</div>
			<div class="div-detail-personnage">

				<h1>{{ character.name }}</h1>
				<h3>{{ character.race.name }}</h3>
				<h3>{{ character.class.name }}</h3>
				<h3>Niveau {{ character.level }}</h3>
				{% if character.team %}
					<a title="Voir les equipier de l'équipe {{character.team.name}}" href="{{ path("team_list", {"teamSlug" : character.team.slug,"teamId" :character.team.id})}}">{{character.team.name}}</a>
				{% endif %}
			</div>
			<div class="div-lore">
				<div class="dropdown">
					<button class="dropbtn">Histoire
						<img src="{{ asset('img/list.svg')}}" alt="" class="drop-logo" height="10"></button>
					<div class=" hidden dropdown-content">
						<textarea>{{ character.lore }}</textarea>
					</div>
					<a title="Modifier le lore de {{character.name}}" href="{{ path("character_update_lore", {"slug" : character.slug, "id" :character.id}) }}" id="lore-link">Modifier mon histoire</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="div-statistique">
				<div class="statistique">
					<p class="label">Constitution:</p>
					<div class="statistique-valeur" data-constitution="{{ character.constitution}}">
						<p>{{ character.constitution }}</p>
					</div>
				</div>
				<div class="statistique">
					<p class="label">Charisme :</p>
					<div class="statistique-valeur" data-charisma="{{ character.charisma}}">
						<p>{{ character.charisma }}</p>
					</div>
				</div>
				<div class="statistique">
					<p class="label">Dextérité :</p>
					<div class="statistique-valeur" data-dexterity="{{ character.dexterity}}">
						<p>{{ character.dexterity }}</p>
					</div>
				</div>
				<div class="statistique">
					<p class="label">Foi :</p>
					<div class="statistique-valeur" data-faith="{{ character.faith}}">
						<p>{{ character.faith }}</p>
					</div>
				</div>
				
				<div class="statistique">
					<p class="label">Force :</p>
					<div class="statistique-valeur" data-strength="{{ character.strength}}">
						<p>{{ character.strength }}</p>
					</div>
				</div>
				<div class="statistique">
					<p class="label">Intelligence :</p>
					<div class="statistique-valeur" data-intelligence="{{ character.intelligence}}">
						<p>{{ character.intelligence }}</p>
					</div>
				</div>
			</div>
			<div class="div-statut">
				<div class="statut">
					<!-- ~~~~~~ vie valeur numerique ~~~~~~ -->
					<label for="pv" class="label label-statut">
						PV
					</label>
					<input type="number" class="numerique ajax" id="pv" name="pv" value="{{character.pv}}" readonly>
					<span class="max">/
						{{character.pvMax}}
					</span>

					<!-- ~~~~~~ bar de vie ~~~~~~ -->
					<input type="range" class="bar" id="pv-range" min="0" max="{{character.pvMax}}" value="{{character.pv}}" disabled>

					<input id="pv-plus" type="number" class="input-enabled ajout" placeholder="">
					<input id="pv-moins" type="number" class="input-enabled soustrait" placeholder="">
				</div>

				<div class="statut">

					<!-- ~~~~~~ mana valeur numerique ~~~~~~ -->
					<label for="pm" class="label label-statut">PM</label>
					<input type="number" class="numerique ajax" id="pm" name="pm" value="{{character.pm}}" readonly>

					<span class="max">/
						{{character.pmMax}}</span>

					<!-- ~~~~~~ bar de mana ~~~~~~ -->
					<input type="range" class="bar" id="pm-range" min="0" max="{{character.pmMax}}" value="{{character.pm}}" disabled>

					<input id="pm-plus" type="number" class="input-enabled ajout" placeholder="">
					<input id="pm-moins" type="number" class="input-enabled soustrait" placeholder="">
				</div>
				<div class="statut">

					<!-- ~~~~~~ mana valeur numerique ~~~~~~ -->
					<label for="pc" class="label label-statut">PC
					</label>
					<input type="number" class="numerique ajax" id="pc" name="pc" value="{{character.pc}}" readonly>

					<span class="max">/
						{{character.pcMax}}</span>

					<!-- ~~~~~~ bar de mana ~~~~~~ -->
					<input type="range" class="bar" id="pc-range" min="0" max="{{character.pcMax}}" value="{{character.pc}}" disabled>

					<input id="pc-plus" type="number" class="input-enabled ajout" placeholder="">
					<input id="pc-moins" type="number" class="input-enabled soustrait" placeholder="">
				</div>
			</div>
		</div>
		<div>
			<a title="Metre a jour les statistique de {{character.name}}" href="{{path("character_level_up", {"slug" : character.slug, "id" :character.id})}}">Changer mes statistiques</a>
		</div>

		<div class="row">
			<div>
				<h2 class="sub-title-center">Talent</h2>
				<table class="tableau" id="talent-table">
				 <thead>
				 	<tr>
						<th>Nom</th>
						<th>Niveau</th>
						<th>Autre bonus</th>
						<th>Total</th>
						<th>Experience</th>
					</tr>
				 </thead>
				 <tbody id="paginate-table-body" data-talents="{{character.talents|json_encode}}">
				 	{% for talent in character.talents %}
						<tr>
							<td>{{talent.name}}</td>
							<td>{{talent.level}}</td>
							<td>{{talent.otherBonus}}</td>
							<td></td>
							<td></td>
						</tr>
					{% endfor %}
				 </tbody>
				</table>
				<div id="pagination">
				</div>
				<a title="Metre a jour les talents de {{character.name}}" href="{{path("character_update_talent", {"slug" : character.slug, "id" :character.id})}}">Changer mes talents</a>
			</div>
			{% include "inc/dices-component.html.twig" %}
		</div>

		<div class="row">
			<div class="inventaire-form">
				<div>
					<div class="label label-form">
						<label for="inventaire"><i class="icons-inventory"></i> Inventaire</label>
					</div>
					<textarea class="ajax" name="inventaire" id="inventaire" cols="30" rows="10">{{character.inventory}}</textarea>
				</div>

				<div class="div-sauvegarde">
					<div class="label label-form">
						<label for="po"><i class="icons-po"></i> Piece d'or</label>
					</div>
					<input class="ajax" type="number" name="po" id="po" value="{{character.gold}}">
				</div>
			</div>
		</div>

	</div>

	<div class="container">
		<div class="row">
			<div>
				<h2 class="sub-title-center">Armure</h2>
				{% set physicalAbsorption = 0 %}
				{% set magicalAbsorption = 0 %}
				<table class="tableau">
					<thead>
						<tr>
							<th>Pièce</th>
							<th>Type</th>
							<th>Résistance physique</th>
							<th>Résistance magique</th>
							<th>Effet</th>
						</tr>
					</thead>
					{% if armor|length > 0 %}
						<tbody>
							{% for armorPiece in armor %}

								{# set the default value #}
								{% set piecePhysicalResistance = armorPiece.basePhysical %}
								{% set pieceMagicalResistance = armorPiece.baseMagical %}

								{# set the real value if it not null #}
								{% if armorPiece.physicalResistance != null %}
									{% set piecePhysicalResistance = armorPiece.physicalResistance %}
								{% endif %}
								{% if armorPiece.magicalResistance != null %}
									{% set pieceMagicalResistance = armorPiece.magicalResistance %}
								{% endif %}
								
								
								{% set physicalAbsorption = physicalAbsorption + piecePhysicalResistance %}
								{% set magicalAbsorption = magicalAbsorption + pieceMagicalResistance %}
								<tr>
									<td><i class="icons-{{armorPiece.locationVarName}}"></i>{{ armorPiece.locationName }}</td>
									<td>{{ armorPiece.typeName }}</td>
									<td>{{ piecePhysicalResistance }}</td>
									<td>{{ pieceMagicalResistance }}</td>
									<td>{{ armorPiece.effect }}</td>
								</tr>
							{% endfor %}
						</tbody>
					{% endif %}
					<tfoot>
						<tr>
							<th>Total :</th>
							<td></td>
							<td>{{physicalAbsorption}}</td>
							<td>{{magicalAbsorption}}</td>
							<td></td>
						</tr>
					</tfoot>
				</table>
				<a title="Change l'equipement de {{character.name}}" href="{{ path("character_update_armor", {"slug" : character.slug, "id" : character.id}) }}" class="titre-table">Modifier</a>
			</div>
			<div>
				<h2 class="sub-title-center">Arme</h2>
				<table class="tableau">
					<thead>
						<tr>
							<th>Arme</th>
							<th>Dégats</th>
							<th>Dé</th>
							<th>Effet</th>
						</tr>
					</thead>
					<tbody>
						{% for weapon in weapons %}
							<tr>
								<td>{{ weapon.name }}</td>
								<td>{{ weapon.damage is null ? weapon.baseDamage : weapon.damage }}</td>
								<td>{{ weapon.dice is null ? weapon.baseDice.value :weapon.dice.value }}</td>
								<td>{{ weapon.effect }}</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
				<a title="Changer les armes de {{character.name}}" href="{{ path("character_update_weapon", {"slug" : character.slug, "id" : character.id}) }}" class="titre-table">Modifier</a>
			</div>
		</div>
	</div>
	<div class="container">
		<h2 class="sub-title-center">Compétences</h2>
		<div class="div-competence">
			{% for skill in skills %}
				{{skill|skillCard}}
			{% endfor %}
		</div>
	</div>
	<div class="navside-container">
		<div class="div-show-navside show">
			<a href="" id="show-navside">Navigation</a>
		</div>
		<div class="navside navside-hidden">
			<a title="Liste des personnages" class="link" href="{{path("character_list")}} ">Retour</a>
			<a title="Metre a jour l'image de {{character.name}}" class="link" href="{{ path("character_change_image", {"slug" : character.slug, 'id' : character.id})}}">Changer d'image</a>
			<a title="Parametres de {{character.name}}" class="link" href="{{ path('character_setting', {"slug" : character.slug, "id" : character.id}) }}">option</a>
			{% if character.team %}
				<a title="Voir les equipier de l'équipe {{character.team.name}}" class="link" href="{{ path("team_list", {"teamSlug" : character.team.slug,"teamId" :character.team.id})}}">{{character.team.name}}</a>
			{% endif %}
		</div>
	</div>
{% endblock %}

{% block script %}
	<script src="{{asset('script/bar.js')}}"></script>
	<script src="{{asset('script/personnage.js')}}"></script>
	<script src="{{asset('script/Talent.js')}}"></script>
{% endblock %}
