{% extends 'base.html.twig' %}

{% block title %}Changement de statistique | {{parent()}}{% endblock %}

{% block body %}
	{{ form_start(characterForm) }}
	<div class="container">
		<div>
			<h3 class="title-form">Niveau</h3>
		</div>

		<div>
			<div class="div-form">
				{{ form_label(characterForm.level) }}

				{{ form_widget(characterForm.level)}}
				<div class="div-errors">
					{{ form_errors(characterForm.level)}}
				</div>
			</div>
		</div>

		<div>
			<h3 class="title-form">Status</h3>
		</div>

		<div class="row">
			<div class="div-form">
				{{ form_label(characterForm.pvMax) }}

				{{ form_widget(characterForm.pvMax)}}
				<div class="div-errors">
					{{ form_errors(characterForm.pvMax)}}
				</div>
				<div class="note">
					<p>Dé de niveau :
						{{character.class.dicePv}}</p>
				</div>

			</div>
			<div class="div-form">
				{{ form_label(characterForm.pcMax) }}

				{{ form_widget(characterForm.pcMax)}}
				<div class="div-errors">
					{{ form_errors(characterForm.pcMax)}}
				</div>
				<div class="note">
					<p>Dé de niveau :{{character.class.dicePc}}</p>
				</div>
			</div>
			<div class="div-form">
				{{ form_label(characterForm.pmMax) }}

				{{ form_widget(characterForm.pmMax)}}
				<div class="div-errors">
					{{ form_errors(characterForm.pmMax)}}
				</div>
				<div class="note">
					<p>Dé de niveau :{{character.class.dicePm}}</p>
				</div>
			</div>
		</div>
		<div class="note">
			<p>Note : Les jet de dé se font avant l'amélioration de statistique.</p>
			<p>Note : La statistique ajouter à votre dé est divisé par 10, celui-ci est toujours arrondi a l'inférieur.</p>
		</div>

		<div>
			<h3 class="title-form">Statistiques</h3>
		</div>
		<div class="row">
			<div class="div-form">
				{{ form_label(characterForm.constitution) }}

				{{ form_widget(characterForm.constitution)}}
				<div class="div-errors">
					{{ form_errors(characterForm.constitution)}}
				</div>	
			</div>
			<div class="div-form">
				{{ form_label(characterForm.strength) }}

				{{ form_widget(characterForm.strength)}}
				<div class="div-errors">
					{{ form_errors(characterForm.strength)}}
				</div>
			</div>
			<div class="div-form">
				{{ form_label(characterForm.dexterity) }}

				{{ form_widget(characterForm.dexterity)}}
				<div class="div-errors">
					{{ form_errors(characterForm.dexterity)}}
				</div>
			</div>
		</div>
		<div class="row">
			<div class="div-form">
				{{ form_label(characterForm.intelligence) }}

				{{ form_widget(characterForm.intelligence)}}
				<div class="div-errors">
					{{ form_errors(characterForm.intelligence)}}
				</div>
			</div>
			<div class="div-form">
				{{ form_label(characterForm.charisma) }}

				{{ form_widget(characterForm.charisma)}}
				<div class="div-errors">
					{{ form_errors(characterForm.charisma)}}
				</div>
			</div>
			<div class="div-form">
				{{ form_label(characterForm.faith) }}

				{{ form_widget(characterForm.faith)}}
				<div class="div-errors">
					{{ form_errors(characterForm.faith)}}
				</div>
			</div>
		</div>
		<div class="note">
			<p>Note : Les ajouts de points de Stats sont aux nombres de 5 points a répartir comme bon vous semble.</p>
			<p>Note : Au niveau 3, 5, 7 et 10, les points de Stats ne sont plus au nombre de 5 mais désormais à 10 points.</p>
		</div>
		<div>
			<button class="valid-form">Valider !</button>
		</div>
	</div>
	{{ form_end(characterForm) }}
{% endblock %}
