{% extends 'base.html.twig' %}

{% block title %} Mes Personnages | {{parent()}}{% endblock %}

{% block body %}
    <div class="container">
        {% if requestAttribute == "master_list_character_team" %}
            <h2 class="sub-title-center">Fiches personnages</h2>
        {% else %}
            <h1 class="title">Fiches personnages</h1>
        {% endif %}
        {% for message in app.flashes('success') %}
			<div class="flash success">
				{{ message }}
			</div>
		{% endfor %}

        <button class="default-sort">Tri par defaut</button>
        <table class="tableau">
            <thead>
                <tr>
                    <th scope="col">image</th>
                    <th class="sortable text" scope="col">nom</th>
                    <th class="sortable number">niveau</th>
                    <th class="sortable text">equipe</th>
                    <th scope="col">action</th>
                </tr>
            </thead>
            <tbody>
                {% for character in characters %}
                    <tr>
                        <td>
                            <img src="{{asset('image_personnage/'~ character.image)}}" alt="" height="50">
                        </td>
                        <td>
                            <a title="Voir la fiche de {{character.name}}" href="{{ path("character_view", {"slug" : character.slug, "id" : character.id}) }}">{{ character.name }}</a>
                        </td>
                        <td>{{character.level}}</td>
                        <td>
                            {% if character.teamId != null %}
                                <a title="Voir les equipier de l'équipe {{character.teamName}}" href="{{path("team_list", {"teamSlug" : character.teamSlug,"teamId" :character.teamId})}}">{{character.teamName}}</a>
                            {% endif %}
                        </td>
                        <td>
                            <a title="Parametres de {{character.name}}" href="{{ path("character_setting", {"slug" : character.slug, "id" : character.id})}}">Paramètres</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="navside-container">
        <div class="div-show-navside show">
			<a href="" id="show-navside">Navigation</a>
		</div>
		<div class="navside navside-hidden">
            {% block link %}
                <a title="Créer un nouveau personnage" class="link" href="{{ path("create_character")}}">Nouveau personnage</a>
            {% endblock %}
        </div>
	</div>
{% endblock %}

