<nav>
    <ul class="nav-list">
        <li class="nav-item"><a href="{{ path('main_home') }}"><img src="{{asset("img/list.png")}}" alt="" height="10">Home</a></li>
        {% if app.user %}
            <li class="nav-item"><a href="{# {{ path('')}} #}#"><img src="{{asset("img/list.png")}}" alt="" height="10">Moi</a></li>
            <li class="nav-item"><a href="{{ path('app_logout')}}"><img src="{{asset("img/list.png")}}" alt="" height="10">deconexion</a></li>
            <li class="nav-item"><a href="{{ path("personnage_list")}}"><img src="{{asset("img/list.png")}}" alt="" height="10">Personage</a></li>
            <li class="nav-item"><a href="{{ path("personnage_create")}}"><img src="{{asset("img/list.png")}}" alt="" height="10">new personnage</a></li>
            <div class="drop-nav">
                <li class="nav-item"><button class="nav-button"><img src="{{asset("img/list.png")}}" alt="" height="10">Race</button></li>
                <div class="drop-nav-content">
                    <li class="nav-item"><a href="{{ path('race', {'id' : 1 } )}}">Norsalme</a></li>
                    <li class="nav-item"><a href="{{ path('race', {'id' : 2 } )}}">Sylfrage</a></li>
                    <li class="nav-item"><a href="{{ path('race', {'id' : 3 } )}}">Drogins</a></li>
                    <li class="nav-item"><a href="{{ path('race', {'id' : 4 } )}}">Progniris</a></li>
                    <li class="nav-item"><a href="{{ path('race', {'id' : 5 } )}}">Citinzi</a></li>
                    <li class="nav-item"><a href="{{ path('race', {'id' : 6 } )}}">Jardafolc</a></li>
                    <li class="nav-item"><a href="{{ path('race', {'id' : 7 } )}}">Phalmagare</a></li>
                    <li class="nav-item"><a href="{{ path('race', {'id' : 8 } )}}">Firmalne</a></li>
                </div>
            </div> 
            <div class="drop-nav">
                <li class="nav-item"><button class="nav-button"><img src="{{asset("img/list.png")}}" alt="" height="10">Classe</button></li>
                <div class="drop-nav-content">
                    <li class="nav-item"><a href="{{ path('race', {'id' : 1 } )}}">Norsalme</a></li>
                    <li class="nav-item"><a href="{{ path('race', {'id' : 2 } )}}">Sylfrage</a></li>
                    <li class="nav-item"><a href="{{ path('race', {'id' : 3 } )}}">Drogins</a></li>
                    <li class="nav-item"><a href="{{ path('race', {'id' : 4 } )}}">Progniris</a></li>
                    <li class="nav-item"><a href="{{ path('race', {'id' : 5 } )}}">Citinzi</a></li>
                    <li class="nav-item"><a href="{{ path('race', {'id' : 6 } )}}">Jardafolc</a></li>
                    <li class="nav-item"><a href="{{ path('race', {'id' : 7 } )}}">Phalmagare</a></li>
                    <li class="nav-item"><a href="{{ path('race', {'id' : 8 } )}}">Firmalne</a></li>
                </div>
            </div>
        {% else %}
            <li class="nav-item"><a href="{{ path('app_login')}}"><img src="{{asset("img/list.png")}}" alt="" height="10">connexion</a></li>
            <li class="nav-item"><a href="{{ path('app_register')}}"><img src="{{asset("img/list.png")}}" alt="" height="10">s'inscrire</a></li>

        {% endif %}
        
    </ul>
</nav>