<nav>
	<ul class="nav-list">
		<li class="nav-item"><a href="{{ path('main_home') }}"><img src="{{asset("img/list.png")}}" alt="" height="10">Accueil</a></li>
		<div class="drop-nav">
			<li class="nav-item"><button class="nav-button"><img src="{{asset("img/list.png")}}" alt="" height="10">Races</button></li>
			<div class="drop-nav-content">
				<ul>
					<li class="nav-item"><a href="{{ path('race', {'id' : 1 } )}}">Norsalme</a></li>
					<li class="nav-item"><a href="{{ path('race', {'id' : 2 } )}}">Sylfrage</a></li>
					<li class="nav-item"><a href="{{ path('race', {'id' : 3 } )}}">Drogins</a></li>
					<li class="nav-item"><a href="{{ path('race', {'id' : 4 } )}}">Progniris</a></li>
					<li class="nav-item"><a href="{{ path('race', {'id' : 5 } )}}">Jardafolc</a></li>
					<li class="nav-item"><a href="{{ path('race', {'id' : 6 } )}}">Citinzi</a></li>
					<li class="nav-item"><a href="{{ path('race', {'id' : 7 } )}}">Firmalne</a></li>
					<li class="nav-item"><a href="{{ path('race', {'id' : 8 } )}}">Phalmagare</a></li>
				</ul>
			</div>
		</div>
		<div class="drop-nav">
			<li class="nav-item"><button class="nav-button"><img src="{{asset("img/list.png")}}" alt="" height="10">Classes</button></li>
			<div class="drop-nav-content">
				<ul>
					<li class="nav-item"><a href="{{ path('classe', {'id' : 1 } )}}">Guerrier</a></li>
					<li class="nav-item"><a href="{{ path('classe', {'id' : 2 } )}}">Clerc</a></li>
					<li class="nav-item"><a href="{{ path('classe', {'id' : 3 } )}}">Assassin</a></li>
					<li class="nav-item"><a href="{{ path('classe', {'id' : 4 } )}}">Herboriste</a></li>
					<li class="nav-item"><a href="{{ path('classe', {'id' : 5 } )}}">Mage</a></li>
					<li class="nav-item"><a href="{{ path('classe', {'id' : 6 } )}}">Rodeur</a></li>
					<li class="nav-item"><a href="{{ path('classe', {'id' : 7 } )}}">Pretre</a></li>
					<li class="nav-item"><a href="{{ path('classe', {'id' : 8 } )}}">Ingenieur</a></li>
				</ul>
			</div>
		</div>
		{% if app.user %}
			<li class="nav-item"><a href="{{path('personnage_list')}}"><img src="{{asset("img/list.png")}}" alt="" height="10">Mes personnages</a></li>

			{% if is_granted("ROLE_ADMIN") %}
				<li class="nav-item"><a href="{{path('admin_home')}}"><img src="{{asset("img/list.png")}}" alt="" height="10">Admin</a></li>
			{% endif %}
		{% else %}
			<li class="nav-item"><a href="{{ path('app_login')}}"><img src="{{asset("img/list.png")}}" alt="" height="10">Connexion</a></li>
			<li class="nav-item"><a href="{{ path('app_register')}}"><img src="{{asset("img/list.png")}}" alt="" height="10">S'inscrire</a></li>

		{% endif %}

	</ul>

	{% if app.user %}
		<div class="drop-nav" id="account">
			<button class="nav-button"><img src="{{asset("img/list.png")}}" alt="" height="10">compte</button>
			<div class="drop-nav-content">
				<ul>
					<li class="nav-item"><a href="{{ path('profil', {'id':app.user.id}) }}">Mon compte ({{ app.user.nom }})</a></li>
					<li class="nav-item"><a href="{{ path('app_logout')}}">Déconexion</a></li>
				</ul>
			</div>
		</div>
	{% endif %}
</nav>