{% extends 'base.html.twig' %}

{% block title %}Changer mon mot de passe | {{parent()}}{% endblock %}

{% block body %}
    <h1 class="title-form">Changer mon mot de passe</h1>

    <div class="container row">
        {{ form_start(form) }}
        <div class="div-form">
            {{form_label(form.ancientPassword)}}
            {{form_widget(form.ancientPassword)}}
            <div class="div-errors-log">
                {{form_errors(form.ancientPassword)}}
            </div>
        </div>
        <div class="div-form">
            {{form_label(form.plainPassword.first)}}
            {{form_widget(form.plainPassword.first)}}
            <div class="div-errors-log">
                {{form_errors(form.plainPassword.first)}}
            </div>
        </div>
        <div class="div-form">
            {{form_label(form.plainPassword.second)}}
            {{form_widget(form.plainPassword.second)}}
            <div class="div-errors-log">
                {{form_errors(form.plainPassword.second)}}
            </div>
        </div>
            <button class="valid-form">Valider !</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
