{% extends 'base.html.twig' %}

{% block title %} Profil | {{parent()}}{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="flash success">
            {{ message }}
        </div>
    {% endfor %}
    <h1>Profil: {{ user.name }}</h1>
    


        <h3>Mes informations: </h3>
        <p>Email: {{ user.email }}</p>
        <p>Nom: {{ user.name }}</p>
        <ul>
            <li>
                <a title="Changer mon mot de passe" class="link" href="{{path("profil_update_password")}}">Changer mon mpt de passe</a>
            </li>
            <li>
                <a title="Mettre à jour mes informations" class="link" href="{{path("profil_update_account")}}">Mettre à jour mes informations</a>
            </li>
            <li>
                <a title="Supprimer mon compte" class="link" href="{{path("profile_delete")}}" class="notes" id="delete-account">Supprimer mon Compte</a>
            </li>
        </ul>
        <h3>Mes personnages: </h3>
        <a title="Liste des personnage" class="link" href="{{ path("character_list")}}">Mes personnages</a>
{% endblock %}
