{% extends 'base.html.twig' %}

{% block title %}Modifier mes informations | {{parent()}}{% endblock %}

{% block body %}
		<div class="container">
			<h1 class="title-form">Modifier mes informations</h1>

			{{ form_start(userForm) }}

			<div class="row">
				<div class="div-form">
					{{ form_label(userForm.email) }}

					{{ form_widget(userForm.email) }}
					<div class="div-errors-log">
						{{ form_errors(userForm.email)}}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="div-form">
					{{ form_label(userForm.name) }}

					{{ form_widget(userForm.name) }}
					<div class="div-errors-log">
						{{ form_errors(userForm.name)}}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="div-form">
					{{ form_label(userForm.password) }}

					{{ form_widget(userForm.password) }}
					<div class="div-errors-log">
						{{ form_errors(userForm.password)}}
					</div>
				</div>
			</div>


			<button type="submit" class="valid-form">Valider !</button>
			{{ form_end(userForm) }}
		</div>
{% endblock %}
